<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>吧台</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 引入样式 -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/iconfont.css" rel="stylesheet">
	<link rel="stylesheet" href="css/swiper.min.css">
	<style>
		/*[v-cloak] {*/
			/*display: none;*/
		/*}*/
		.salesLi{width: 16em;height: 7em;display: inline-flex;flex-direction: row;justify-content: space-between;margin: 0.2em;padding: 0.5em 0.2em;border: 1px solid #00F7DE;}
		.saleText h3{font-size: 0.9em;margin-top: 0.5em;}
		.saleText a.btn{padding: 0 6px;}
		.saleText{display: flex;flex-direction: column-reverse;width: 7em;justify-content: space-between;text-align: center;}
		.salesLi img{width: 8em;height: 6em;}
		.saleTitleBg li:nth-child(7n) a{background-color: #3279b4;}
		.saleTitleBg li:nth-child(7n+1) a{background-color: #32c7d2;}
		.saleTitleBg li:nth-child(7n+2) a{background-color: #b196fd;}
		.saleTitleBg li:nth-child(7n+3) a{background-color: #659ae0;}
		.saleTitleBg li:nth-child(7n+4) a{background-color: #f0c40b;}
		.saleTitleBg li:nth-child(7n+5) a{background-color: #c5d2dc;}
		.saleTitleBg li:nth-child(7n+6) a{background-color: #e96e72;}

	</style>
</head>
<body>

<div id="app" v-cloak>
	<div class="container-fluid top boxShadow">
		<!--小屏幕导航按钮和logo-->
		<!--小屏幕导航按钮和logo-->
		<!--导航-->
		<div class="navbar-collapse collapse">
			<div class="navbar-header">
				<a href="index.html" class="navbar-brand"><img src="images/logo.png"></a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li><a class="boxBtn" href="javascript:(0);"><span class="glyphicon glyphicon-menu-down"></span>&nbsp;&nbsp;现金:￥10500</a></li>
				<li class="active"><a href="index.html"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;莘宸乐园【同城广场店】</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-user mag-_r1"></span><i>当前操作员：</i>&nbsp;&nbsp;张三</a></li>
				<li class="dropdown">
					<a  type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						未读消息 (0)
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="index.html">1</a></li>
						<li><a href="index.html">1</a></li>
						<li><a href="index.html">1</a></li>
						<li><a href="index.html">1</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						admin
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" aria-labelledby="dLabel">
						<li><a href="index.html"><span class="glyphicon glyphicon-screenshot"></span>&nbsp;&nbsp;前台首页</a></li>
						<li><a href="index.html"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;个人主页</a></li>
						<li><a href="index.html"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;个人设置</a></li>
						<li><a href="index.html"><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;账户中心</a></li>
						<li><a href="index.html"><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;我的收藏</a></li>
					</ul>
				</li>
				<li><a href="#"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;退出</a></li>
				<div class="bbs text-right">
					<p>开班时间：2017-08-23 15:38:12 <span>当前时间： <em id="oDiv"></em></span></p>
				</div>
			</ul>

			<div class="navbar-right navLeftS">
				<!--<div class="col-md-6 col-sm-6 navStyle">-->
				<div class="navStyle">
					<h4>售币机</h4>
					<p>18000/30000</p>
				</div>
				<div class="navT">60%</div>
				<!--</div>-->
				<!--<div class="col-md-6 col-sm-6">-->
				<!--<div class="r_out">-->
				<!--<div class="r_in">-->
				<!--<div class="r_c c3"></div>-->

				<!--</div>-->
				<!--</div>-->
				<!--</div>-->
			</div>
		</div>
		<!--导航-->
		<!--饼状图弹出-->
		<div class="boxBg hidden">
			<div class="box row">
				<a class="layerCancel iconfont icon-cha" href="javascript:(0);"></a>
				<div class="crashDetials col-md-3 col-sm-3">
				</div>
				<div id="crash" class="col-md-9 col-sm-9">
				</div>
			</div>
		</div>


	</div>

	<div class="conF">
		<span>请先购物再结算</span>
	</div>
	<div class="FastSell hidden row">
		<div class="FastSellK">
			<a class="layerCancel iconfont icon-cha" href="javascript:(0);"></a>

			<div class="col-md-6 col-sm-6" style="margin-top: 2em;">
				<h4 class="col-md-8 col-sm-8 inputNtSty">当前快速售币：</h4><em class="inputNt inputNtSty col-md-4 col-sm-4">1元2币</em>
				<div class="col-md-12 col-sm-12 inputNm">
					<input type="text" class="FastSellSty form-control" id="inputD1" oninput="inpDiv1()" placeholder="输入购币金额"/>
					<input type="text" class="FastSellSty form-control" id="inputD2" oninput="inpDiv2()" placeholder="购币数量"/>
				</div>
				<div class="col-md-12 col-xs-12">
					<div class="switchZdy addHeight col-md-12 col-xs-12">
						<div class="col-md-6 col-xs-6 onSwitch">实物币</div>
						<div class="col-md-6 col-xs-6">代币</div>
					</div>
				</div>

			</div>

			<div class="formNum formNum1 col-md-6 col-sm-6">
				<div class=" col-md-3 col-sm-3 pad_0"><a href="javascript:(0);" class="num">1</a></div>
				<div class=" col-md-3 col-sm-3 pad_0"><a href="javascript:(0);" class="num">2</a></div>
				<div class=" col-md-3 col-sm-3 pad_0"><a href="javascript:(0);" class="num">3</a></div>
				<div class=" col-md-3 col-sm-3 pad_0"><a href="javascript:(0);" class="num">4</a></div>
				<div class=" col-md-3 col-sm-3 pad_0"><a href="javascript:(0);" class="num">5</a></div>
				<div class=" col-md-3 col-sm-3 pad_0"><a href="javascript:(0);" class="num">6</a></div>
				<div class=" col-md-3 col-sm-3 pad_0"><a href="javascript:(0);" class="num">7</a></div>
				<div class=" col-md-3 col-sm-3 pad_0"><a href="javascript:(0);" class="num">8</a></div>
				<div class=" col-md-3 col-sm-3 pad_0"><a href="javascript:(0);" class="num">9</a></div>
				<div class=" col-md-3 col-sm-3 pad_0"><a href="javascript:(0);" class="num">.</a></div>
				<div class=" col-md-3 col-sm-3 pad_0"><a href="javascript:(0);" class="num">0</a></div>
				<div class=" col-md-3 col-sm-3 pad_0"><a href="javascript:(0);" class="remove" >删除</a></div>
				<div class="col-md-6 col-sm-6 pad_0"><a href="javascript:(0);" class="removeAll">清空</a></div>
				<div class="col-md-6 col-sm-6 pad_0"><button type="button" class="btn btn-c1">确定</button></div>
			</div>

		</div>
	</div>
	<div class="container-fluid">
		<!--结账弹出层-->
		<div class="CheckoutMB hidden row">
			<div class="FastSellK">
				<a class="layerCancel iconfont icon-cha" href="javascript:(0);"></a>
				<div class="col-md-4 col-sm-4 pad_0">
					<div class="col-md-12 col-sm-12 shopCStyle"><div class="col-md-7 col-sm-7 text-left shopCStyle">应收现金：</div><div class="col-md-5 col-sm-5 text-right shopCStyle sumPrice"></div></div>
					<div class="col-md-12 col-sm-12 shopCStyle"><div class="col-md-7 col-sm-7 text-left shopCStyle">应扣代币：</div><div class="col-md-5 col-sm-5 text-right shopCStyle sumCoin"></div></div>
					<div class="col-md-12 col-sm-12 shopCStyle"><div class="col-md-7 col-sm-7 text-left shopCStyle">应扣积分：</div><div class="col-md-5 col-sm-5 text-right shopCStyle sumLottery"></div></div>
					<div class="col-md-12 col-sm-12 shopCStyle"><div class="col-md-7 col-sm-7 text-left shopCStyle">应扣彩票：</div><div class="col-md-5 col-sm-5 text-right shopCStyle sumPoint"></div></div>
					<ul class="col-md-12 col-sm-12 payment shopCStyle">
						<li>
							<div class="inputNm col-md-12 col-sm-12 shopCStyle"><span class="col-md-5 col-sm-5 shopCStyle">实收现金：</span><label class="col-md-7 col-sm-7"><input id="input1" type="text" class="form-control" oninput="sumPrice()"/></label></div><!--onpropertychange="sumPrice()"-->
							<div class="col-md-12 col-sm-12 shopCStyle"><span class="col-md-5 col-sm-5 shopCStyle">找零：</span><label class="col-md-7 col-sm-7"><input class="form-control" type="text" id="input2" placeholder="" readonly></label></div>
						</li>
						<li class="hidden">
							<div class="col-md-12 col-sm-12 shopCStyle"><span class="col-md-5 col-sm-5 pad_0">扣储值金：</span><label class="col-md-7 col-sm-7"><input id="input3" type="text" class="form-control" /></label></div>
							<div class="col-md-12 col-sm-12 shopCStyle hidden"><span class="col-md-5 col-sm-5 pad_0">找零：</span><label class="col-md-7 col-sm-7"><input type="text" class="form-control" /></label></div>
						</li>
						<li class="hidden">
							<h4 class="">请扫描客户手机付款码</h4>
							<label class="col-md-12 col-sm-12 pad_0"><input id="input5" type="text" class="form-control" /></label>
						</li>
					</ul>
					<div class="col-md-12 col-sm-12 shopCStyle" style="margin-top: 1em"><button type="button" class="btn btn-danger">结账</button></div>
				</div>
				<div class="formNum formNum2 col-md-6 col-sm-6">
					<div class=" col-md-4 col-sm-4 pad_0"><a href="javascript:(0);" class="num">1</a></div>
					<div class=" col-md-4 col-sm-4 pad_0"><a href="javascript:(0);" class="num">2</a></div>
					<div class=" col-md-4 col-sm-4 pad_0"><a href="javascript:(0);" class="num">3</a></div>
					<div class=" col-md-4 col-sm-4 pad_0"><a href="javascript:(0);" class="num">4</a></div>
					<div class=" col-md-4 col-sm-4 pad_0"><a href="javascript:(0);" class="num">5</a></div>
					<div class=" col-md-4 col-sm-4 pad_0"><a href="javascript:(0);" class="num">6</a></div>
					<div class=" col-md-4 col-sm-4 pad_0"><a href="javascript:(0);" class="num">7</a></div>
					<div class=" col-md-4 col-sm-4 pad_0"><a href="javascript:(0);" class="num">8</a></div>
					<div class=" col-md-4 col-sm-4 pad_0"><a href="javascript:(0);" class="num">9</a></div>
					<div class=" col-md-4 col-sm-4 pad_0"><a href="javascript:(0);" class="num">.</a></div>
					<div class=" col-md-4 col-sm-4 pad_0"><a href="javascript:(0);" class="num">0</a></div>
					<div class=" col-md-4 col-sm-4 pad_0"><a href="javascript:(0);" class="remove" >删除</a></div>

				</div>
				<ul class="col-md-2 col-sm-2 payList pad_0">
					<li><button type="button" class="btn btn-primary btn-lg">现金</button></li>
					<li><button type="button" class="btn btn-primary btn-lg">储值卡</button></li>
					<li><button type="button" class="btn btn-primary btn-lg">扫码支付</button></li>
					<button type="button" class="btn btn-primary btn-lg">打印</button>
				</ul>
			</div>
		</div>
		<!--主体内容-->
		<div class="row">
			<!--左边购物车-->
			<div class="fl majorLeft">
				<div class="corner"></div>
				<ul class="member col-md-12 col-sm-12">
					<li class="col-md-7 col-sm-7"><span>会员卡号：4444444444444454545454</span></li>
					<li class="col-md-5 col-sm-5"><span>代币：</span></li>
					<li class="col-md-7 col-sm-5"><span>会员姓名：</span></li>
					<li class="col-md-5 col-sm-5"><span>积分：</span></li>
					<li class="col-md-7 col-sm-5"><span>会员等级：</span></li>
					<li class="col-md-5 col-sm-5"><span>彩票：</span></li>
				</ul>
				<div class="shopCart col-md-12 col-sm-12">
					<table class="table table-bordered col-md-12 col-sm-12">
						<thead style="background: #f5f5f5">
						<tr>
							<th>商品名</th>
							<th>数量</th>
							<th>单价</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="(items,index) in shopData">
							<td>{{items.foodName}}</td>
							<td>{{items.amount}}</td>
							<!--<td>{{items.vipPrice}}</td>-->
							<td class="selectSty">
								<select v-model="items.selected">
									<option v-for="option in (items.detailInfoList)" v-bind:value="option.balanceType">
										{{ option.typeName}}：{{ option.useCount}}
									</option>
								</select>
							</td>
						</tr>
						</tbody>
					</table>
					<div class="Checkout col-md-12 col-sm-12">
						<div class="col-md-12 col-sm-12 shopCStyle"><div class="col-md-7 col-sm-7 text-left shopCStyle">应收现金：</div><div class="col-md-5 col-sm-5 text-right shopCStyle sumPrice"></div></div>
						<div class="col-md-12 col-sm-12 shopCStyle"><div class="col-md-7 col-sm-7 text-left shopCStyle">应扣代币：</div><div class="col-md-5 col-sm-5 text-right shopCStyle sumCoin"></div></div>
						<div class="col-md-12 col-sm-12 shopCStyle"><div class="col-md-7 col-sm-7 text-left shopCStyle">应扣积分：</div><div class="col-md-5 col-sm-5 text-right shopCStyle sumLottery"></div></div>
						<div class="col-md-12 col-sm-12 shopCStyle"><div class="col-md-7 col-sm-7 text-left shopCStyle">应扣彩票：</div><div class="col-md-5 col-sm-5 text-right shopCStyle sumPoint"></div></div>
						<div class="CheckoutBtn col-md-12 col-sm-12 shopCStyle"><button type="button" class="btn btn-danger">挂单</button><button type="button" class="btn btn-success closeAccounts">结账</button></div>
					</div>
				</div>

			</div>
			<!--中间菜单-->
			<ul class="majorMenu fl heightKz">
				<li id="AddCount"><a class="iconfont icon-jia" href="javascript:(0)"></a></li>
				<li id="reduceCount"><a class="iconfont icon-jian" href="javascript:(0)"></a></li>
				<li class="cur"><a href="javascript:(0)">入会办卡</a></li>
				<li><a id="FastSell" href="javascript:(0)">快速售币</a></li>
				<li><a id="sales" href="javascript:(0)">产品销售</a></li>
				<li><a href="javascript:(0)">会员操作</a></li>
				<li><a href="javascript:(0)">会员返还</a></li>
				<li><a href="javascript:(0)">退货处理</a></li>
				<li><a href="javascript:(0)">会员卡挂失</a></li>

			</ul>
			<!--右边显示内容-->
			<div class="heightKz">
				<div class="salesAll">
					<div class="salesTitle">
						<div class="swiper-container">
							<ul class="swiper-wrapper saleTitleBg">
								<!--<li class="on swiper-slide"><a href="javascript:(0)">全部</a></li>-->
								<li v-for="(item,index) in saleTitle" class="swiper-slide" :class="{'on':!index}" @click="screening(index)">
									<a href="javascript:(0)">{{item.text}}</a>
								</li>
							</ul>
						</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
					<ul class="salesCoin">
						<li v-for="(item,index) in saleData" class="salesLi" @click="deletePerson(index)">
							<img :src="item.imageUrl"/>
							<div class="saleText">
								<a tabindex="0" class="btn btn-group-sm btn-info" role="button" data-toggle="popover" @click.stop="details(index)" title="<h2>popoverTitle</h2>" data-content="And here's some amazing content. It's very engaging. Right?">详情</a>
								<h3>{{item.foodName}}</h3>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Modal(通用提示框) -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">温馨提示</h4>
					</div>
					<div class="modal-body">
						{{ msg }}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/swiper.min.js"></script>
<!-- 引入 Vue -->
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script>
    /*var appendNumber = 4;
    var prependNumber = 1;*/

</script>
<script>
    var sysId = 0; //调用方应用Id
    var versionNo= "0.01"; //版本号
    var htmlFnc = new Vue({
        el: '#app',
        data:{
            salesIS: true,
            shopData:[],
            userToken:'',
            storeId:'',
            memberLevelId:0,
			saleData:[],
            msg:"",
			saleTitle:[
			    		{text:"全部",color:"#3279b4"},
			    		{text:"充值",color:"#32c7d2"},
                		{text:"数字币",color:"#b196fd"},
			    		{text:"礼品",color:"#659ae0"},
			    		{text:"门票",color:"#f0c40b"},
			    		{text:"餐饮",color:"#c5d2dc"},
			    		{text:"礼包",ccolor:"#e96e72"}
						],
            popoverTitle:"",
			saleData5:[]
        },
        mounted: function () {
            this.Initialize()
        },
        methods: {
            Initialize:function () {
                var that =this;
                var userToken = getStorage("userToken");      	//获取userToken
                var storeId = getStorage("storeId");       		//storeId
                that.userToken = userToken;
                that.storeId = storeId;
                that.getMeal(0,"0,1,2,3,4,5,6");
                var swiper = new Swiper('.swiper-container', {
                    /*pagination: '.swiper-pagination',*/
                    nextButton: '.swiper-button-next',
                    prevButton: '.swiper-button-prev',
                    slidesPerView: 6,
                    centeredSlides: false,
                    paginationClickable: true,
                    spaceBetween: 30
                });
            },
			getMeal:function(customerType,foodType) {			//获取销售列表
				var that = this;
                var obj={sysId: sysId,versionNo: versionNo,userToken:that.userToken ,customerType:customerType,memberLevelId:that.memberLevelId,foodTypeStr:foodType};
                axios.post('/api/XCCloud/Foods.ashx?action=getFoodList', obj).then(function (res) {
                    console.log(res.data);
                    if (res.data.result_code === '1') {
                        that.saleData =res.data.result_data;
						if(foodType == 0){

						}else if(foodType == 1){

						}else if(foodType == 2){

						}else if(foodType == 3){

						}else if(foodType == 4){

						}
                    }
                }).catch(function (err) {
                    that.$dialog.loading.close();
                    console.log(err);
                });
    		},
            deletePerson: function(index) {
                var that = this;
                console.log("点击的索引值" + index);
                if ( that.shopData.length === 0) {
                    that.shopData.push({
                        allowInternet:that.saleData[index].allowInternet,
                        allowPrint:  that.saleData[index].allowPrint,
                        detailInfoList:  that.saleData[index].detailInfoList,
                        detailsCount:  that.saleData[index].detailsCount,
                        foodId:  that.saleData[index].foodId,
                        foodName:  that.saleData[index].foodName,
                        foodType:  that.saleData[index].foodType,
                        foreAuthorize:  that.saleData[index].foreAuthorize,
                        amount: 1,
                        selected: that.saleData[index].detailInfoList[0].balanceType
                    });
                    setTimeout(function () {
                        $("#v-for-tbody tr:last").addClass('end').siblings().removeClass('end');
                    }, 50);
                    console.log("新加的" +  that.shopData)
                } else {
                    for (var i = 0; i <that.shopData.length; i++) {
                        console.log( that.saleData[index].foodId ===  that.shopData[i].foodId);
                        if ( that.saleData[index].foodId ===  that.shopData[i].foodId) {
                            foodId = i;
                            console.log("遍历的i" + i);
                            break;
                        } else {
                            foodId = ""
                        }
                    }
                    console.log("遍历的i（索引值）" + foodId);
                    if (foodId === "") {
                        that.shopData.push({
                            allowInternet:that.saleData[i].allowInternet,
                            allowPrint:  that.saleData[i].allowPrint,
                            detailInfoList:  that.saleData[i].detailInfoList,
                            detailsCount:  that.saleData[i].detailsCount,
                            foodId:  that.saleData[i].foodId,
                            foodName:  that.saleData[i].foodName,
                            foodType:  that.saleData[i].foodType,
                            foreAuthorize:  that.saleData[i].foreAuthorize,
                            amount: 1,
                            selected: that.saleData[i].detailInfoList[0].balanceType
                        });
                        setTimeout(function () {
                            $("#v-for-tbody tr:last").addClass('end').siblings().removeClass('end');
                        }, 50);
                        console.log()
                    } else {
                        that.shopData[foodId].amount ++;
                    }
                }
            },
            details:function(index){
                var that = this;
              	console.log(that.saleData[index]);
              var obj={sysId: sysId,versionNo: versionNo,userToken:that.userToken ,foodId:that.saleData[index].foodId};
              axios.post('/XCCloud/Foods?action=getFoodDetail', obj).then(function (res) {
				  console.log(res.data);
				  that.msgPrompt(res.data);
				  if (res.data.result_code === '1') {
//                      that.msg = JSON.stringify(res.data.result_data);
//                      $('#myModal').modal('show');

//                      $(".salesCoin").find("li").eq(index).find(".saleText a").on('show.bs.popover', function () {
//                          that.popoverTitle ="lalalalalalalalalal";
//                      });
                      $(".salesCoin").find("li").eq(index).find(".saleText a").popover("show")
				  }
			  }).catch(function (err) {
				  console.log(err);
			  });
			},
            screening:function (index) {
				console.log(index);
				$(".saleTitleBg").find("li").eq(index).addClass("on").siblings().removeClass("on");
                this.getMeal(0,index);

            },
            msgPrompt:function (res) {
                var that = this;
                if(res.return_code == 0){
                    that.msg = res.return_msg;
                    $('#myModal').modal('show');
                }else if(res.result_code == 0){
                    that.msg = res.result_msg;
                    $('#myModal').modal('show');
                }
            }
        }
    });
    //存储session
    function setStorage(key,value) {
        if(window.localStorage){
            value = JSON.stringify(value); //转化为JSON字符串
            var storage=window.localStorage;
            storage.setItem(key,value);
        }
    }
    //删除session
    function removeStorage(key) {
        if(window.localStorage){
            var storage=window.localStorage;
            storage.removeItem(key);
        }
    }
    //获取session
    function getStorage(key) {
        if(window.localStorage){
            value = JSON.parse(localStorage.getItem(key));
            return value;
        }
    }
</script>
</body>
</html>
