<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>iview example</title>
</head>
<body>
<div id="app">
	<input type="text" v-model="inputValue">
	<button @click="handleSubmit">提交</button>
	<ul>
		<list v-for="(item,index) in testList" :key="index" :content="item" :index="index" @delete="handleDelete"></list>
	</ul>
</div>
<script src="js/vue.js"></script>
<script>
    Vue.component('list', {
        props:["content","index"],
        template:"<li @click='handleClick'>{{content}}</li>",
		methods:{
            handleClick:function () {
				this.$emit("delete",this.index)
            }
		}
    });
    new Vue({
        el: '#app',
        data: {
            inputValue:"",
            testList:[]
        },
        methods: {
            handleSubmit:function () {
				this.testList.push(this.inputValue);
				this.inputValue = "";
            },
            handleDelete:function (index) {
                this.testList.splice(index,1)
            }
        }
    })
</script>
</body>
</html>