<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--Socket-->
    <add key="TCPSocketServiceHost" value="192.168.1.48" />
    <add key="TCPSocketServicePort" value="12880" />
    <add key="XCCloudUDPServiceHost" value="192.168.1.48" />
    <add key="XCCloudUDPServicePort" value="12888" />
    <add key="MerchId" value="100016" />
    <add key="StoreId" value="100016360103001" />
    <add key="CurDownload" value="" />
    <add key ="UpgradeServerIP" value="192.168.1.1"/>
    <add key ="ProcessName" value="莘宸自助机"/>
    <!--日志-->
    <add key="TxtLogPath" value="c:/PalletServiceLogs/" />
    <add key="PrinterName" value="POS58" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--门店配置-->
    <add key="XCCloudHost" value="http://localhost:3288" />
    <!--<add key="XCCloudHost" value="http://192.168.1.48" />-->

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>