<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="css/layui.css">
    	<!-- 引入样式 -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel='icon' href='xinchen.ico ' type='image/x-ico'/>
</head>
<style>
    body{min-width: 670px;}
    body{background-color: #68cce9}
    .bg-image{
        width: 100%; height: 600px;position: absolute;left: 0;top: 50%;margin-top: -300px;
        background: url("images/bgImg.png")no-repeat left center;background-size: 100% 100%;
    }
    .registerBox,.loginBox{
        width: 400px;margin-top:90px;border-radius: 5px;border: 1px solid #999;margin-right: 20%;  float: right;background-color: #fef2f8;
    }
    .loginBox{width: 350px;height: 350px;position: relative;}
    .tips-img{width: 52px;height: 52px;position: absolute;right: 10px;top: 10px; cursor: pointer;}
    .registerBox form,.loginBox form{width: 100%;height: 100%}
    .loginBox form{width: 300px;height: 300px;margin: 25px;}
    .loginBox form label{width: 108px;}
    .regTitle{
        width: 100%;height: 50px;line-height: 50px;font-size: 16px;;
    }
    .loginBox .layui-form-item{padding: 0 auto;}
    .password{margin-right:0;width: 146px;display: inline-block;}
    .password_login_show{margin-right:0;width: 40px;display: inline-block;padding-left: 0;cursor: pointer;}
</style>
<body>
    <div id="app" v-cloak>
        <!-- Modal(通用提示框) -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">温馨提示</h4>
                    </div>
                    <div class="modal-body">
                        {{ msg }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="bg-image">
                <div class="loginBox" style="display: block">
                    <div class="tips-img" onclick="changeLoginWay()">
                        <img src="images/code.png" alt="">
                    </div>
                    <!-- 密码登录 -->
                    <form action="" class="layui-form layui-form-pane login-pwd">
                        <div class="regTitle" style="margin:15px 0;">登录账号</div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>用户名</label>
                            <div class="layui-input-inline" style="margin-right:0;">
                                <input type="text" lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input" v-model="username">
                            </div>
                        </div>
                        <div class="layui-form-item" >
                            <label class="layui-form-label" ><span class="glyphicon glyphicon-star" aria-hidden="true"></span>密码</label>
                            <div class="layui-input-inline" style="margin-right:0;width: 190px">
                                <input type="password" lay-verify="required" placeholder="请输入密码" autocomplete="off" v-if="ifShowPassword" class="layui-input password" @keyup.enter="login" v-model="password">
                                <input type="text" lay-verify="required" placeholder="请输入密码" autocomplete="off" v-else class="layui-input password" v-model="password" @keyup.enter="login">
                                <button type="button" class="layui-input password_login_show" @click="ifShow"><img src="images/browse.svg" alt=""></button>
                            </div>
                        </div>
                        <div class="layui-form-item" style="text-align:center;">
                            <button class="layui-btn layui-btn-danger" btnalign="center" type="button" style="width:298px;" @click="login">登录</button>
                        </div>
                        <div class="layui-form-item" >
                            <a href="#" onclick="toLoginCode1()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>扫码登录</a>
                        </div>
                    </form>
                    <!-- 扫码登录 -->
                    <form action="" class="layui-hide login-code">
                        <div class="code-msg">
                            <div class="msg-ok">
                                <div id="codeBox">
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- 引入 Vue -->
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>

<script>
    var sysId = 0; //调用方应用Id
    var versionNo= "0.01"; //版本号
    var machineName ="";
    var dogIdToken ="";
    var ws = new WebSocket("ws://127.0.0.1:12880");
    var vm = new Vue({
        el: '#app',
        data:{
            loading:false,
            ifShowPassword:true,
            username:'',
            password:'',
            msg:"",
            workStation:"",
            dogId:"",

        },
        mounted: function () {
            this.WebSocketTest()
        },
        watch: {

        },
        methods: {
//			websocket配置函数
            WebSocketTest:function() {
                var that = this;
                if ("WebSocket" in window){
                    // 打开一个 websocket
                    ws.onopen = function() {
                        console.log("连接成功");
                        function send(data)
                        {
                            console.log("Send:"+data);
                            ws.send(data);
                        }
                        // setTimeout(function () {
                        //     var msgType0 =JSON.stringify({"msgType":"0","sObj":{"userToken": "11"}});
                        //     send(msgType0);
                        // }, 10);
                        var msgType10 =JSON.stringify({"msgType":"10"});
                        send(msgType10);
                        // setTimeout(function () {
                        //     var msgType2 =JSON.stringify({"msgType":"2"});
                        //     send(msgType2);
                        // }, 30);
                    };
                    ws.onmessage = function (evt){
                        console.log("接收成功");
                        var receivedMsg = JSON.parse(evt.data);
                        console.log(receivedMsg);
                        
                        if(receivedMsg.result_code == 1){
                            switch (receivedMsg.answerMsgType){
                                case "0":                                              
                                    break;
                                case "1":                                              
                                    break;
                                case "10":
                                    that.dogId = receivedMsg.dataObj.dogId
                                    that.workStation = receivedMsg.dataObj.machineName
                                    break;
                                default:
                                    break;
                            }
                        }else if(receivedMsg.result_code == 0) {
                            that.msg = receivedMsg.answerMsg;
                            $('#myModal').modal('show');
                        }
                    };
                    ws.onclose = function() {
                        that.msg = "托盘程序已退出！";
                        $('#myModal').modal('show');
                        setTimeout(function () {
                            $('#myModal').modal('hide');
                            // window.location.href='login.html';
                        }, 1500);
                    };
                }else{
                    alert("您的浏览器不支持 WebSocket!");
                }
            },
//          登录    
            login:function(){
                var that = this;
                if(that.username == "" || that.password == ""){
                    that.msg = "输入不能为空！";
                    $('#myModal').modal('show');
                    setTimeout(function () {
                        $('#myModal').modal('hide');
                    }, 1500);
                }else{
                    that.loading = true;
                    // var obj={'loginName':"lijunjie1",'password':"123456",'workStation':'lijunjie','dogId':'22222222'};
                    // var obj={'loginName':"45",'password':"123456",'workStation':'tietou','dogId':'22222222'};
                    // var obj={'loginName':"zwf",'password':"123456",'workStation':'tietou1','dogId':'22222222'};
                    var obj={'loginName':that.username,'password':that.password,'workStation':that.workStation,'dogId':that.dogId};
                    console.log(obj);
                    axios.post('/xccloud/UserInfo?action=barLogin', obj).then(function (res) {
                        console.log(res.data);
                        that.loading = false;
                        that.msgPrompt(res.data);
                        if (res.data.result_code === '1') {
                            var userData =res.data.result_data;
                            setStorage('userData',userData);
                            window.location.href='theBar.html';
                            setStorage('workStation',that.workStation);
                        }
                    }).catch(function (err) {
                        console.log(err);
                    });
                }
            },
            ifShow:function(){
                this.ifShowPassword = !this.ifShowPassword
            },
//			通用消息提示
            msgPrompt:function (res) {
                var that = this;
                if(res.return_code == 0){
                    that.msg = res.return_msg;
                    $('#myModal').modal('show');
                }else if(res.result_code == 0){
                    that.msg = res.result_msg;
                    $('#myModal').modal('show');
                }
            }
        }
    });
    //存储session
    function setStorage(key,value) {
        if(window.localStorage){
            value = JSON.stringify(value); //转化为JSON字符串
            var storage=window.localStorage;
            storage.setItem(key,value);
        }
    }
    //删除session
    function removeStorage(key) {
        if(window.localStorage){
            var storage=window.localStorage;
            storage.removeItem(key);
        }
    }
    //获取session
    function getStorage(key) {
        if(window.localStorage){
            value = JSON.parse(localStorage.getItem(key));
            return value;
        }
    }
</script>

</body>
</html>