<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>iview example</title>
</head>
<body>
<div id="app">
	<input type="text" v-model="inputValue" @keyup.enter="inputEnter(this)">
	<button @click="handleSubmit">提交</button>
	<ul>
		<list v-for="(item,index) in testList" :key="index" :content="item" :index="index" @delete="handleDelete"></list>
    </ul>
    <p style="white-space: normal;">
        <a href="https://coupon.jd.com/ilink/couponActiveFront/front_index.action?key=3395313d768a4ce7be69930752345dad&roleId=8557900&to=https://sale.jd.com/act/0mNIlaXDEn.html" target="_blank" style="white-space: normal;">1111</a><br/>
    </p>
    
</div>
<script src="js/vue.js"></script>
<script>
//    var code = "";
//    window.onload = function(e){
//
//        var lastTime,nextTime;
//        var lastCode,nextCode;
//        document.onkeypress = function(e) {
//            nextCode = e.which;
//            nextTime = new Date().getTime();
//            if(lastCode == null && lastTime == null) {
//                // 此处应该怎么判断
//            }
//            if(lastCode != null && lastTime != null && nextTime - lastTime <= 30) {
//                code += String.fromCharCode(nextCode);
//            } else if(lastCode != null && lastTime != null && nextTime - lastTime > 100){
//                code = "";
//            }
//            lastCode = nextCode;
//            lastTime = nextTime;
//        };
////        this.onkeypress = function(e){
////            if(e.which == 13){
////                console.log(code);
////                code = "";
////            }
////        }
//    };

    Vue.component('list', {
        props:["content","index"],
        template:"<li @click='handleClick'>{{content}}</li>",
		methods:{
            handleClick:function () {
				this.$emit("delete",this.index)
            }
		}
    });
    new Vue({
        el: '#app',
        data: {
            inputValue:"",
            inputValue0:0,
            inputValue1:false,
            testList:[],
            code:""
        },
		mounted:function () {
			this.loading()
        },
        watch:{
            inputValue0:function(){
                if(this.inputValue0 == 2){
                    console.log(888)
                    this.inputValue0 = 0
                }
            }
        },
        methods: {
            loading:function () {
                var that = this;
                var lastTime,nextTime;
				var lastCode,nextCode;
                setTimeout(function () {
                    console.log(111)
                    that.inputValue0++;
                }, 3000);
                setTimeout(function () {
                    console.log(110)
                    that.inputValue0++;
                }, 2000);
                
                document.onkeypress = function(e) {
					nextCode = e.which;
					nextTime = new Date().getTime();
					if(lastCode == null && lastTime == null) {
						// 此处应该怎么判断
					}
					if(lastCode != null && lastTime != null && nextTime - lastTime <= 30) {
                        that.code += String.fromCharCode(nextCode);
					} else if(lastCode != null && lastTime != null && nextTime - lastTime > 100){
                        that.code = "";
					}
					lastCode = nextCode;
					lastTime = nextTime;
				};
            },
            handleSubmit:function () {
				this.testList.push(this.inputValue);
				this.inputValue = "";
            },
            handleDelete:function (index) {
                this.testList.splice(index,1)
            },
            inputEnter:function () {
                console.log(this.code)
            }
        }
    })
</script>
</body>
</html>