<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>莘拍档</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/ydui.rem.css">
    <!-- 引入rem自适应类库 -->
    <script src="js/ydui.flexible.js"></script>
    <style>
        body{height: 100%;width: 100%;overflow: hidden;}
        .header{width: 90%;display: flex;flex-direction: row;margin: 0.2rem 5%;justify-content: space-between;}
        .header_img{width: 1.3rem;height: 1.3rem;}
        .header_text{padding-left: 0.2rem;font-size: 0.28rem;margin-top: 0.1rem}
        .header_active{margin-top: 0.2rem; display: flex;flex-direction: row;color: #ff5400;}
        .header_active span{margin-left: 0.1rem;margin-top: 0.15rem;color: #ff5400;font-weight: 600;}
        .header_active img{width: 0.6rem;height: 0.6rem;}
        /*.header_b{b}*/
        .header_b{background: none;border: none!important;}
        .header_b img{width: 1.2rem;height: 0.8rem;margin-top: 0.3rem;}
        .rollText{padding-left: 0.3rem;}
        .gamePlay_img{background: url("images/btnBg.png") no-repeat center 0.2rem;width: 100%;height: 3rem;text-align: center;background-size: 50% 80%;}
        .gamePlay_img h3{padding-top: 0.6rem;font-size: 0.4rem;color: #fc5363;font-weight: bold;}

        .gameGaming{display: flex;flex-direction: column;width: 100%;}
        .gameGive_b{display: flex;flex-direction: row;justify-content:center;font-size: 0.35rem;line-height: 0.6rem;margin-top: 0.3rem;}
        .gameGive_b img{width: 0.6rem;height: 0.6rem;}
        .discount_text button{font-size: 0.3rem;padding: 0 0.06rem;font-weight: 600;color: #d94927;}
        .gameGaming_b{display: flex;flex-direction: row;justify-content: center;color: #ff5400;font-size: 0.5rem;font-weight: bold;line-height: 0.6rem;margin-top: 0.2rem;}
        .gameGaming_b img{width: 0.6rem;height: 0.6rem;}
        .gameGamingTop input{border: none; border-bottom: 1px solid #666;line-height: 0.3rem;width: 4rem;padding-right: 0.5rem;padding-bottom: 0.2rem;margin-left:23%;color: #666;font-size: 0.4rem;margin-top: 0.4rem;text-align:right}
        .gameGamingTop p{font-size: 0.24rem;color: #666;margin: 0.2rem 0;text-align: center;}
        .gameGamingBtn{display: flex;flex-direction: row;flex: 1;padding: 0.1rem 9%;}
        .gameGamingBtn .btn{width: 45%;margin: 0 1%;height: 0.8rem;line-height: 0.8rem;text-align: center;padding: 0;background: #3285ff;color: #fff;}
        .gameGamingBtn .exitBtn{width: 45%;margin: 0 1%;height: 0.8rem;line-height: 0.8rem;text-align: center;padding: 0;background: #fc5363;color: #fff;}
        .discount_title{background: url("images/titleBg.png") no-repeat center;height: 0.6rem;width: 3rem;background-size: 100% 100%;line-height: 0.7rem;padding-left: 0.4rem;font-size: 0.3rem;color: #f1f1f1;  }
        .discount_text{display: flex;flex-direction: row;margin-top: 0.1rem;font-size: 0.3rem;color: #ff5400;justify-content: space-between;padding-left: 0.3rem;}
        .activeTitle { font-size: 0.5rem; font-weight: bold; line-height: 0.6rem; text-align: center;}
        .yd-scrolltab-nav{display: none;}
        .closeIcon{background: none;margin: 0!important;}
        .rechargeSty{display: flex;flex-direction: row;justify-content: space-between;border-bottom: 1px solid #0bb20c;}
        .rechargeBg{background: url("images/salesbg.png") no-repeat center;height: 1.6rem;background-size: 100% 100%;width: 200px;margin: 0.2rem 0;display: flex;flex-direction: row;}
        .rechargeBg .rechargeText1{font-size: 0.55rem;color: #ff3030;line-height: 1rem;padding-left: 0.4rem;margin-top: 0.3rem;}
        .rechargeBg .rechargeText0{display: inline-block;width: 2px; height: 1.4rem; margin-top: 0.1rem;margin-left: 0.2rem;transform:skew(-30deg);-webkit-transform: skew(-30deg);-moz-transform: skew(-30deg);-o-transform:skew(-30deg);-ms-transform:skew(-30deg);background-color: #fff;}
        .rechargeBg .rechargeText2{font-size: 0.4rem;color: #ff7c3d;padding-left: 0.1rem;margin-top: 0.8rem;}
        .rechargeBtn{margin-top: 0.8rem;}
        .activePrompt{font-size: 0.2rem;}
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div class='header'>
        <img class="header_img" src="images/portrait.jpg" alt="头像">
        <div class="header_text">
            <p>机台名称：{{deviceName}}</p>
            <div class="header_active"><img slot="icon" src="images/sendImg.png"><span>限时活动中</span></div>
        </div>
        <yd-button class='header_b' type="hollow" v-if="headerBtn" @click.native="show = true"><img src='images/welfare.png'></yd-button>
    </div>
    <yd-rollnotice autoplay="2000" class="rollText">
        <yd-rollnotice-item @click.native="show = true" v-for="(item,index) in gamePlaylist" :key="index"><span style="color:#F00;"> 荐 </span> 立投“{{item.needCoin}}”，直接送“{{item.freeCoin}}”</yd-rollnotice-item>
    </yd-rollnotice>
    <div class="gamePlay_img" v-if="gameGive" @click="gamePlay">
        <h3>玩一局</h3>
        <div class="gameGive_b"><img slot="icon" src='images/b.png'><span>×{{deleteHide}}个</span></div>
    </div>
    <yd-popup v-model="show" position="bottom" height="60%">
        <yd-button class="closeIcon" type="warning" style="margin: 30px;" @click.native="show = false"><yd-icon color="#FF685D" name="error-outline"></yd-icon></yd-button>
        <div class="activeTitle">活动规则</div>
        <div style="height: 330px; overflow-y: auto; position: relative;">
            <yd-scrolltab>
                <yd-scrolltab-panel v-for="(item,index) in gamePlaylist" :key="item.foodID" label="" height="1rem" v-if="gameGamingActivity">
                    <div class="discount_title">满“{{item.needCoin}}”就送</div>
                    <div class="discount_text">
                        <div>
                            <p>立投“{{item.needCoin}}”币，直接送“{{item.freeCoin}}”币</p>
                            <p>达到“{{item.exitCoin}}”币，可退币</p>
                        </div>
                        <yd-button size="small" type="warning" @click.native="activityPutBtn(index)">立即投币</yd-button>
                    </div>
                </yd-scrolltab-panel>
                <yd-scrolltab-panel v-for="(item,index) in gamePlaylist" :key="item.foodID" label="" height="1rem" v-if="gameGiveActivity">
                    <div class="discount_title">满“{{item.needCoin}}”局就送</div>
                    <div class="discount_text">
                        <div>
                            <p>立玩{{item.needCoin}}局，直接送{{item.freeCoin}}局</p>
                        </div>
                        <yd-button size="small" type="warning" @click.native="activityPutBtn(index)">立即投币</yd-button>
                    </div>
                </yd-scrolltab-panel>
            </yd-scrolltab>
        </div>

    </yd-popup>
    <div class="gameGaming" v-if="gameGaming">
        <div class="gameGaming_b">
            <img slot="icon" src="images/b.png"><span>币余额：{{balance}}</span>
        </div>
        <div class="gameGamingTop">
            <input placeholder="请输入投币数" type='number' oninput="if(value.length>6)value=value.slice(0,6)" v-model="putCoins">
            <p>（投入为“{{discountPrice}}”的整数倍）</p>
            <div class="gameGamingBtn">
                <yd-button class="exitBtn" size="large" type="danger" @click.native="ExitCoin">退币</yd-button>
                <yd-button class="btn" size="large" type="warning" @click.native="gamePutBtn">投币</yd-button>
            </div>
        </div>
    </div>
    <yd-button size="large" type="warning" @click.native="recharge">玩的不尽兴，马上充值</yd-button>
    <yd-popup v-model="show2" position="bottom" height="60%">
        <yd-button class="closeIcon" type="warning" style="margin: 30px;" @click.native="show2 = false"><yd-icon color="#FF685D" name="error-outline"></yd-icon></yd-button>
        <p class="activePrompt">（友情提示：请1分钟之内完成支付，支付异常将在5个工作日内退回）</p>
        <div style="height: 10rem; overflow-y: auto; position: relative;">
            <yd-scrolltab>
                <yd-scrolltab-panel class="rechargeSty" v-for="(item,index) in list"  :key="index" label="" height="1rem">
                    <div  class="rechargeBg">
                        <span class="rechargeText1">{{item.coinQuantity}}币{{item.sendCoinQuantity}}</span>
                        <span class="rechargeText0"></span>
                        <span class="rechargeText2">￥{{item.foodPrice}}</span>
                    </div>
                    <yd-button class="rechargeBtn" size="small" type="primary" @click.native="rechargeBtn(index)">立即充值</yd-button>
                </yd-scrolltab-panel>
            </yd-scrolltab>
        </div>
    </yd-popup>
</div>
<!-- 引入 Vue -->
<script src="js/vue.js"></script>
<script src="js/jquery-1.8.3-min.js"></script>
<!-- 引入组件库 -->
<script src="js/ydui.rem.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/alipayjsapi.min.js"></script>
<!--Reference the SignalR library. -->
<script src="/Scripts/jquery.signalR-2.2.2.min.js"></script>
<!--Reference the autogenerated SignalR hub script. -->
<script src="/signalr/hubs"></script>
<script>
    var sysId = 0; //调用方应用Id
    var versionNo= "0.89"; //版本号
    var htmlfnc = new Vue({
        el: '#app',
        data:{
            show: false,
            show2: false,
            mobileToken:"",
            deviceToken:"",
            deviceName:"",
            headerBtn:true,
            deleteHide:"",
            gameGive:false,
            needCoin:"",
            gamePlaylist:[],
            list:[],
            gameGaming:false,
            gameGamingActivity:false,
            gameGiveActivity:false,
            putCoins:"",
            discountPrice:"",
            freeCoin:"",
            exitCoin:"",
            balance:"",
            storeId:"",
            deviceType:"",
            memberToken:"",
            gameType:""

        },
        mounted: function () {
            this.Load()
        },
        methods: {
            Load:function () {
                var that =this;
                var deviceToken = getStorage("deviceNo")||"";       //获取设备令牌
                var userThirdId = getStorage("userThirdId")||"";       //获取第三方令牌
                that.deviceToken = deviceToken;
                that.userThirdId = userThirdId;
                this.$dialog.loading.open('');
//                chatHub = $.connection.XCGameClientHub;
//                chatHub.client.broadcastMessage = function (name, message) {
//                    //接受广播消息
//                };
//                chatHub.client.hubCall = function (data) {
//                    console.log(data);
//                    switch (data.callType) {
//                        case "connect": that.callBackFnc2(data); break;
//                        case "notify": that.callBackFnc(data); break;
//                        default: break;
//                    }
//                };
//                // Start Hub
//                $.connection.hub.start().done(function () {
//                    chatHub.server.connect(mobileToken, "0");
//                });
                var obj={
                    sysId: sysId,
                    versionNo: versionNo,
                    deviceToken:that.deviceToken
                };
                axios.post('/xcgamemana/store?action=storeInfoByTerminalNo', obj).then(function (res) {
                    that.$dialog.loading.close();
                    that.msgPrompt(res.data);
                    console.log(res.data);
                    if (res.data.result_code === '1') {
                        that.storeId = res.data.result_data.storeId;
                        that.deviceName = res.data.result_data.deviceName;
                        that.stateName = res.data.result_data.stateName;
                        that.deviceType =res.data.result_data.deviceType;
//                        if(that.memberToken == ""){
//                            console.log(111);
//                            var memData={
//                                sysId: sysId,
//                                versionNo: versionNo,
//                                storeId: that.storeId,
//                                mobileToken: that.mobileToken
//                            };
//                            axios.post('/xcgamemana/token?action=getMemberToken', memData).then(function (res) {
//                                that.$dialog.loading.close();
//                                that.msgPrompt(res.data);
//                                console.log(res.data);
//                                if (res.data.result_code === '1') {
//                                    that.memberToken = res.data.result_data.memberToken;
//                                    that.balance = res.data.result_data.member.balance;
//                                    setStorage("memberToken",memberToken);
//                                    that.GetGameInfo();
//                                }
//                            }).catch(function (err) {
//                                that.$dialog.loading.close();
//                                console.log(err);
//                            });
//
//                        }else {
//                            that.GetGameInfo();
//                        }
                    }
                }).catch(function (err) {
                    that.$dialog.loading.close();
                    console.log(err);
                })
            },
            callBackFnc: function (data) {
                this.msgPrompt(data);
                if(data.result_code == "1" && data.result_data.answerOjb.result_code == "1"){
                    this.$dialog.toast({
                        mes:data.result_data.answerOjb.answerMsg,
                        timeout: 1500,
                        icon: 'success'
                    });

                }
            },
            callBackFnc2: function (data) {
                var that = this;
                this.msgPrompt(data);
                if(data.result_code != 1){
                    that.load()
                }
            },
            GetGameInfo:function () {
                var that =this;
                this.$dialog.loading.open('');
                var obj={
                    sysId: sysId,
                    versionNo: versionNo,
                    deviceToken: that.deviceToken,
                    memberToken: that.memberToken
                };
                axios.post('/XCGame/Game?action=GetGameInfo', obj).then(function (res) {
                    that.$dialog.loading.close();
                    that.msgPrompt(res.data);
                    console.log(res.data);
                    if (res.data.result_code === '1') {
                        var gameType = res.data.result_data.gameType;
                        that.gameType =gameType;
                        if (gameType == "投币类"){
                            console.log(res.data.result_data.gameFreeRule != "");
                            if (res.data.result_data.gameFreeRule != "") {
                                var gamePlaylist_ = [];
                                for (var i = 0; i < res.data.result_data.gameFreeRule.length; i++) gamePlaylist_.push({
                                    needCoin: parseInt(res.data.result_data.gameFreeRule[i].needCoin) / parseInt(res.data.result_data.price),
                                    freeCoin: parseInt(res.data.result_data.gameFreeRule[i].freeCoin) / parseInt(res.data.result_data.price),
                                    id: res.data.result_data.gameFreeRule[i].id
                                });
                                console.log(gamePlaylist_);
                                that.gamePlaylist=gamePlaylist_;
                                console.log(that.gamePlaylist);
                            }
                            that.gameGive = true;
                            that.gameGiveActivity = true;
                            that.deleteHide = res.data.result_data.discountPrice;
                            that.price =  res.data.result_data.price;
                            that.discountPrice =  res.data.result_data.discountPrice;
                        } else if (gameType == "博彩类"){
                            console.log(res.data.result_data.gameFreeRule == "");
                            if (res.data.result_data.gameFreeRule != ""){
                                that.discountList=res.data.result_data.gameFreeRule;
                                that.headerBtn=true;
                            }
                            that.gameGaming=true;
                            that.gameGamingActivity=true;
                            that.discountPrice = res.data.result_data.discountPrice;
                            that.gamePlaylist = res.data.result_data.gameFreeRule;
                            that.putCoins =  "";
                        }
                    }
                }).catch(function (err) {
                    that.$dialog.loading.close();
                    console.log(err);
                })
            },
            getFoods:function () {
                var that =this;
                this.$dialog.loading.open('');
                var obj={
                    sysId: sysId,
                    versionNo: versionNo,
                    storeId: that.storeId,
                    memberToken: that.memberToken
                };
                axios.post('/xcgame/Foods?action=getfoods', obj).then(function (res) {
                    that.$dialog.loading.close();
                    that.msgPrompt(res.data);
                    console.log(res.data);
                    if (res.data.result_code === '1') {
                        var newsList = [];
                        console.log(that.gameType );
                        if (that.gameType == "投币类") {
                            for (var i = 0; i < res.data.result_data.length; i++) {
                                if (res.data.result_data[i].sendCoinQuantity == 0) {
                                    var sendCoinQuantity = ""
                                } else {
                                    var sendCoinQuantity = "+" + res.data.result_data[i].sendCoinQuantity
                                }
                                newsList.push({
                                    foodID: res.data.result_data[i].foodID,
                                    foodName: res.data.result_data[i].foodName,
                                    foodPrice: res.data.result_data[i].foodPrice,
                                    coinQuantity: res.data.result_data[i].coinQuantity,
                                    sendCoinQuantity: sendCoinQuantity
                                })
                            }
                            that.list = newsList;
                        } else if (that.gameType == "博彩类") {
                            for (var i = 0; i < res.data.result_data.length; i++) {
                                if (res.data.result_data[i].isQuickFood == 1) {
                                    var indexQuick = i
                                }
                            }
                            console.log(indexQuick);
                            var quickPrice = res.data.result_data[indexQuick].coinQuantity / res.data.result_data[indexQuick].foodPrice;
                            console.log(quickPrice);
                            newsList.push(
                                {
                                    foodID: res.data.result_data[indexQuick].foodID,
                                    foodPrice: 50,
                                    coinQuantity: 50 * quickPrice,
                                    sendCoinQuantity: "",
                                    foodName: res.data.result_data[indexQuick].foodName
                                },
                                {
                                    foodID: res.data.result_data[indexQuick].foodID,
                                    foodPrice: 100,
                                    coinQuantity: 100 * quickPrice,
                                    sendCoinQuantity: "",
                                    foodName: res.data.result_data[indexQuick].foodName
                                },
                                {
                                    foodID: res.data.result_data[indexQuick].foodID,
                                    foodPrice: 200,
                                    coinQuantity: 200 * quickPrice,
                                    sendCoinQuantity: "",
                                    foodName: res.data.result_data[indexQuick].foodName
                                },
                                {
                                    foodID: res.data.result_data[indexQuick].foodID,
                                    foodPrice: 500,
                                    coinQuantity: 500 * quickPrice,
                                    sendCoinQuantity: "",
                                    foodName: res.data.result_data[indexQuick].foodName
                                },
                                {
                                    foodID: res.data.result_data[indexQuick].foodID,
                                    foodPrice: 1000,
                                    coinQuantity: 1000 * quickPrice,
                                    sendCoinQuantity: "",
                                    foodName: res.data.result_data[indexQuick].foodName
                                });
                            that.list = newsList;
                        }
                    }
                }).catch(function (err) {
                    that.$dialog.loading.close();
                    console.log(err);
                })
            },
            gamePlay:function () {  //玩一局
                var that = this;
                if (parseInt(that.balance) >= parseInt(that.deleteHide) && that.stateName =="设备正常") {
                    var putCoinData ={
                        sysId: sysId,
                        versionNo: versionNo,
                        deviceToken: that.deviceToken,
                        memberToken: that.memberToken,
                        coins: that.deleteHide
                    };
                    that.putCoin(putCoinData);
                } else if(that.stateName !="设备正常"){
                    that.$dialog.toast({
                        mes: that.stateName,
                        timeout: 1500,
                        icon: 'error'
                    });
                }else {
                    that.$dialog.toast({
                        mes: "余额不足!",
                        timeout: 1500,
                        icon: 'error'
                    });
                }
            },
            activityPutBtn:function (index) {
                var that =this;
                if(parseInt(that.balance) >= parseInt(that.gamePlaylist[index].needCoin) && that.stateName =="设备正常"){
                    this.$dialog.loading.open('');
                    console.log(that.gamePlaylist[index]);
                    if(that.gameType == "投币类"){
                        var putCoinData ={
                            sysId: sysId,
                            versionNo: versionNo,
                            deviceToken: that.deviceToken,
                            memberToken: that.memberToken,
                            coins: parseInt(that.gamePlaylist[index].needCoin)*parseInt(that.discountPrice),
                            gameRuleId:that.gamePlaylist[index].id
                        };
                    }else if(that.gameType == "博彩类"){
                        var putCoinData ={
                            sysId: sysId,
                            versionNo: versionNo,
                            deviceToken: that.deviceToken,
                            memberToken: that.memberToken,
                            coins: that.gamePlaylist[index].needCoin,
                            gameRuleId:that.gamePlaylist[index].id
                        };
                    }
                    that.putCoin(putCoinData);
                }else if(that.stateName !="设备正常"){
                    that.$dialog.toast({
                        mes: that.stateName,
                        timeout: 1500,
                        icon: 'error'
                    });
                }else {
                    that.$dialog.toast({
                        mes: "余额不足!",
                        timeout: 1500,
                        icon: 'error'
                    });
                }
            },
            putCoin:function (putCoinData) {
                var that =this;
                this.$dialog.loading.open('');
                axios.post('/xcgame/flw_485_coin?action=flw_485_coinPut', putCoinData).then(function (res) {
                    that.$dialog.loading.close();
                    that.msgPrompt(res.data);
                    console.log(res.data);
                    if (res.data.result_code === '1') {
                        that.$dialog.toast({
                            mes: "投币成功！",
                            timeout: 1500,
                            icon: 'success'
                        });
                    }
                }).catch(function (err) {
                    that.$dialog.loading.close();
                    console.log(err);
                })
            },
            gamePutBtn:function () {
                var that = this;
                console.log(that.stateName !="设备正常");
                if (parseInt(that.balance) >= parseInt(that.putCoins) && that.stateName =="设备正常") {
                    var putCoin_ =parseInt(parseInt(that.putCoins)/parseInt(that.discountPrice))*parseInt(that.discountPrice);
                    that.$dialog.confirm({
                        title: '温馨提示!',
                        mes: '确认投币' + putCoin_ + "个",
                        opts: (function () {
                            var putCoinData ={
                                sysId: sysId,
                                versionNo: versionNo,
                                deviceToken: that.deviceToken,
                                memberToken: that.memberToken,
                                coins: putCoin_
                            };
                            that.putCoin(putCoinData);
                        })
                    });
                } else {
                    if(that.putCoins ==""){
                        that.$dialog.toast({
                            mes: "请先输入投币数!",
                            timeout: 1500,
                            icon: 'error'
                        });
                    }else if(that.stateName !="设备正常"){
                        that.$dialog.toast({
                            mes: that.stateName,
                            timeout: 1500,
                            icon: 'error'
                        });
                    }else {
                        that.$dialog.toast({
                            mes: "余额不足!",
                            timeout: 1500,
                            icon: 'error'
                        });
                    }
                }

            },
            ExitCoin: function () {      //退币
                var that = this;
                var obj={
                    sysId: sysId,
                    versionNo: versionNo,
                    deviceToken:that.deviceToken,
                    memberToken: that.memberToken
                };
                if (that.stateName == "设备正常"){
                    this.$dialog.loading.open('');
                    this.$dialog.confirm({
                        title: '温馨提示!',
                        mes: '确认退币!',
                        opts: (function () {
                            axios.post('/xcgame/flw_485_coin?action=flw_485_coinExit', obj).then(function (res) {
                                that.$dialog.loading.close();
                                that.msgPrompt(res.data);
                                console.log(res.data);
                                if (res.data.result_code === '1') {
                                    that.$dialog.toast({
                                        mes: "退币成功！",
                                        timeout: 1500,
                                        icon: 'success'
                                    });
                                }
                            }).catch(function (err) {
                                that.$dialog.loading.close();
                                console.log(err);
                            })
                        })
                    })
                }else {
                    that.$dialog.toast({
                        mes: that.stateName,
                        timeout: 1500,
                        icon: 'error'
                    });
                }
            },
            recharge:function () {
                var that =this;
                that.show2 = true;
                that.getFoods()
            },
            rechargeBtn:function (index) {
                var that =this;
                if (/MicroMessenger/.test(window.navigator.userAgent)) {
                    var openId =getStorage("openId")||"";
                    var obj={
                        sysId: sysId,
                        versionNo: versionNo,
                        mobileToken:that.mobileToken,
                        openId:openId,
                        memberToken:that.memberToken,
                        storeId:that.storeId,
                        buyType:"充值",
                        productName:that.list[index].foodName,
                        foodid:that.list[index].foodID,
                        payPrice:that.list[index].foodPrice,
                        coins:that.list[index].coinQuantity,
                        deviceToken:''
                    };
                    that.$dialog.loading.open();
                    axios.post(url_getPposWxPay, obj).then(function (res) {
                        that.$dialog.loading.close();
                        console.log(res.data);
                        that.msgPrompt(res.data);
                        if (res.data.result_code === '1') {
                            WeixinJSBridge.invoke(
                                'getBrandWCPayRequest',
                                {
                                    "appId": res.data.result_data.appId,     //公众号名称，由商户传入
                                    "timeStamp": res.data.result_data.timeStamp,         //时间戳，自1970年以来的秒数
                                    "nonceStr": res.data.result_data.nonceStr, //随机串
                                    "package": res.data.result_data.package,
                                    "signType": "MD5",         //微信签名方式：
                                    "paySign": res.data.result_data.paySign //微信签名
                                },
                                function (res) {
//                                    alert(JSON.stringify(res));
                                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                                        that.$dialog.toast({
                                            mes: "付款成功!",
                                            timeout:1500,
                                            icon: 'success'
                                        });
                                    }
                                }
                            );
                        }
                    }).catch(function (err) {
                        that.$dialog.loading.close();
                        console.log(err);
                    })
                } else if (/AlipayClient/.test(window.navigator.userAgent)) {
                    var aliId =getStorage("userId")||"";
                    var obj={
                        sysId: sysId,
                        versionNo: versionNo,
                        mobileToken:that.mobileToken,
                        aliId:aliId,
                        memberToken:that.memberToken,
                        storeId:that.storeId,
                        buyType:"充值",
                        productName:that.list[index].foodName,
                        foodid:that.list[index].foodID,
                        payPrice:that.list[index].foodPrice,
                        coins:that.list[index].coinQuantity,
                        deviceToken:''
                    };
                    that.$dialog.loading.open();
                    axios.post("/Payment?action=createAlipayOrder", obj).then(function (res) {
                        that.$dialog.loading.close();
                        console.log(res.data);
                        that.msgPrompt(res.data);
                        if (res.data.result_code === '1') {
                            AlipayJSBridge.call("tradePay", {
                                tradeNO: res.data.result_data.tradeNO
                            }, function(result) {
//                                alert(JSON.stringify(result));
                                if(result.resultCode == "9000"){
                                    that.$dialog.toast({
                                        mes: "付款成功!",
                                        timeout:1500,
                                        icon: 'success'
                                    });
                                }else if(result.resultCode == "6001"){
                                    that.$dialog.toast({
                                        mes: "取消支付!",
                                        timeout:1500,
                                        icon: 'error'
                                    });
                                }else if(result.resultCode == "6002"){
                                    that.$dialog.toast({
                                        mes: "网络出错!",
                                        timeout:1500,
                                        icon: 'error'
                                    });
                                }else {
                                    that.$dialog.toast({
                                        mes: "订单支付失败!",
                                        timeout: 1500,
                                        icon: 'error'
                                    });
                                }
//                            alert(JSON.stringify(result));
                            });
                        }
                    }).catch(function (err) {
                        that.$dialog.loading.close();
                        console.log(err);
                    })
                } else {
                    that.$dialog.toast({
                        mes: "暂不支持此浏览器支付!",
                        timeout:1500,
                        icon: 'error'
                    });
                    console.log("")
                }
            },
            msgPrompt:function (res) {
                if(res.return_code == 0){
                    this.$dialog.toast({
                        mes: res.return_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }else if(res.result_code == 0){
                    this.$dialog.toast({
                        mes: res.result_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }
            }
        }
    });
    //存储session
    function setStorage(key,value) {
        if(window.localStorage){
            value = JSON.stringify(value); //转化为JSON字符串
            var storage=window.localStorage;
            storage.setItem(key,value);
        }
    }
    //删除session
    function removeStorage(key) {
        if(window.localStorage){
            var storage=window.localStorage;
            storage.removeItem(key);
        }
    }
    //获取session
    function getStorage(key) {
        if(window.localStorage){
            value = JSON.parse(localStorage.getItem(key));
            return value;
        }
    }
</script>
</body>
</html>
