<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>莘拍档</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/ydui.rem.css">
    <!-- 引入 Vue -->
    <script src="js/vue.js"></script>
    <!-- 引入rem自适应类库 -->>
    <script src="js/ydui.rem.js"></script>
    <style>
        .wx-img{min-width: 1.2rem;min-height:1.3rem;width: 1rem;height: 1.2rem;margin-right: 0.5rem;background-color: #eeeeee;padding: 0.1rem;margin-top: 0.1rem;}
        .index-header{background-color: #393a3f;border-top: 0.1rem solid #eeeeee;border-bottom: 0.15rem solid #eeeeee;}
        .iconSty{color: #eeeeee; line-height: 0.4rem;display: flex;flex-direction: row;}
        .index-change{border-bottom: 0.02rem solid #eeeeee;}
        .cardIcon{width: 0.4rem;height: 0.4rem;margin-right: 0.1rem;}
        .iconRight{justify-content:flex-end;margin-top: 0.2rem;margin-right: 0.6rem;color: #ff3030;}
        .vipCard{width: 5rem;height: 2.5rem;margin: 0.3rem auto}
        .vipCard img{width: 5rem;height: 2.5rem;}
        .addCard{width: 5rem;height: 2.5rem;margin: 0.3rem auto;text-align: center;}
        .addCard img{width: 2rem;height: 2rem;}
        .addCard p{margin-top: 0.2rem;font-size: 0.26rem;line-height: 0.3rem;}
    </style>
</head>
<body>
    <div id="app">
        <!--<yd-flexbox>-->
            <!--<div>div</div>-->
            <!--<yd-flexbox-item>yd-flexbox-item</yd-flexbox-item>-->
            <!--<div>div</div>-->
        <!--</yd-flexbox>-->
        <!---->
        <yd-layout>
            <yd-cell-item class="index-header">
                <img slot="icon" class="wx-img" src="http://static.ydcss.com/ydui/img/logo.png">
                <div slot="left" class="index-div">
                    <p class="iconSty" @click="loginFnc"><img slot="icon" class="cardIcon" src="images/user.png"><span class="index-change">请注册或登录</span></p>
                    <!--<p><img slot="icon" class="cardIcon" src="images/cardIcon.png"><span></span></p>-->
                </div>
                <!--<span slot="right">图标是image</span>-->
            </yd-cell-item>
            <yd-grids-group title="绑定的会员卡">
                <div class="iconSty iconRight" @click="mineCard"><img slot="icon" class="cardIcon" src="images/switch.png"><span>切换会员卡</span></div>
                <div class="vipCard" v-if="tiedCard">
                    <img src="images/vipCard.png">
                </div>
                <div class="addCard" v-if="!tiedCard" @click="mineCard">
                    <img src="images/addpic.png">
                    <p>请添加卡</p>
                </div>
                <!--<yd-grids-group>-->
                    <!--<yd-grids-item v-for="n in 6">-->
                        <!--<span slot="text">各种余额</span>-->
                    <!--</yd-grids-item>-->
                <!--</yd-grids-group>-->
            </yd-grids-group>

            <yd-grids-group :rows="3" title="开心玩">
                <yd-grids-item v-for="(item,index) in playData" @click.native="playFnc(index)">
                    <img :src="item.imgUrl" slot="icon"/>
                    <span slot="text">{{item.playName}}</span>
                </yd-grids-item>
            </yd-grids-group>
            <yd-grids-group :rows="3" title="快乐购">
                <yd-grids-item v-for="(item,index) in buyData">
                    <img :src="item.imgUrl" slot="icon"/>
                    <span slot="text">{{item.playName}}</span>
                </yd-grids-item>
            </yd-grids-group>
        </yd-layout>
        <yd-backtop></yd-backtop>
        <!--<yd-navbar title="莘拍档">-->
            <!--<router-link to="h" slot="left">-->
                <!--<yd-navbar-back-icon>返回</yd-navbar-back-icon>-->
            <!--</router-link>-->
            <!--<router-link to="#" slot="right">-->
                <!--<yd-navbar-next-icon></yd-navbar-next-icon>-->
            <!--</router-link>-->
        <!--</yd-navbar>-->
        <!--微信头部颜色393a3f-->
    </div>
<script src="js/jquery-1.8.3-min.js"></script>
<!-- 引入组件库 -->
<script src="js/ydui.rem.js"></script>
<script src="js/ydui.flexible.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/alipayjsapi.min.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    var sysId = 0; //调用方应用Id
    var versionNo= "0.89"; //版本号
    var chatHub;//定义TCP对象
    var vm = new Vue({
        el: '#app',
        data:{
            playData:[{imgUrl:"images/billQuery.png",playName:"账单查询"},{imgUrl:"images/scanCode.png",playName:"扫一扫"},{imgUrl:"images/surrounding.png",playName:"周边推荐"},{imgUrl:"images/giftExchange.png",playName:"礼品兑换"}],
            buyData:[{imgUrl:"images/recharge.png",playName:"充值"},{imgUrl:"images/buyCoin.png",playName:"购币"}],
            mobileToken : "1",
            memberToken : "1",
            tiedCard:false
        },
        mounted: function () {
            this.Load();
        },
        methods: {
            Load:function () {
                var that =this;
                if (/MicroMessenger/.test(window.navigator.userAgent)){
                    var coordinates = getStorage("coordinates")||"";
                    if(coordinates == ""){
                        this.$dialog.loading.open('');
                        this.signatureNew();
                    }else {
                        wx.config({
                            debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                            appId: coordinates.AppId, // 必填，公众号的唯一标识
                            timestamp: coordinates.TimeStamp, // 必填，生成签名的时间戳
                            nonceStr: coordinates.NonceStr, // 必填，生成签名的随机串
                            signature: coordinates.Signature,// 必填，签名
                            jsApiList: ["scanQRCode","getLocation"] // 必填，需要使用的JS接口列表
                        });
                        wx.error(function(res){
//                            alert(JSON.stringify(res));
                            that.signatureNew();
                        });
                    }
                    wx.getLocation({
                        type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                        success: function (res) {
                            alert(JSON.stringify(res));
                            var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                            var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                            var speed = res.speed; // 速度，以米/每秒计
                            var accuracy = res.accuracy; // 位置精度
                        }
                    });
                }

            },
//            获取地理坐标和调用微信功能
            signatureNew:function () {
                var that =this;
                var obj={sysId: sysId,versionNo: versionNo, fileName:"index"};
                axios.post('/XCGameMana/WxCommon?action=getWxH5Config', obj).then(function (res) {
                    that.$dialog.loading.close();
                    that.msgPrompt(res.data);
                    console.log(res.data);
                    JSON.stringify(res.data);
                    if (res.data.result_code === '1') {
//                        alert(JSON.stringify(res.data.result_data));
                        var coordinates =res.data.result_data;
                        setStorage("coordinates",coordinates);
                        wx.config({
                            debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                            appId: coordinates.AppId, // 必填，公众号的唯一标识
                            timestamp: coordinates.TimeStamp, // 必填，生成签名的时间戳
                            nonceStr: coordinates.NonceStr, // 必填，生成签名的随机串
                            signature: coordinates.Signature,// 必填，签名
                            jsApiList: ["scanQRCode","getLocation"] // 必填，需要使用的JS接口列表
                        });
                    }
                }).catch(function (err) {
                    that.$dialog.loading.close();
                    console.log(err);
                })
            },
            loginFnc:function () {
                var that =this;
                if(that.mobileToken == ""){
                    window.location.href = "login.html"
                }else {
                    that.$dialog.confirm({
                        title: '温馨提示!',
                        mes: "是否前往登录或注册？",
                        opts: (function () {
                            window.location.href = "login.html"
                        })
                    });
                }
            },
//          play功能
            playFnc:function (index) {
                var that = this;
                console.log(index);
                if(that.memberToken != "" || index == 1){
                    switch (index){
                        case 0:
                            window.location.href = "MyOrder.html";
                            break;
                        case 1:
                           that.scanCode();
                           break;
                        case 2:
                            window.location.href = "home.html";
                            break;
                        case 3:
                            this.$dialog.toast({
                                mes: "功能暂未开放",
                                timeout: 1500,
                                icon: 'error'
                            });
                            break;
                        default:
                            break;
                    }

                }else {
                    if(that.mobileToken == ""){
                        that.$dialog.confirm({
                            title: '温馨提示!',
                            mes: "是否前往登录或注册？",
                            opts: (function () {
                                window.location.href = "login.html"
                            })
                        });
                    }else {
                        that.$dialog.confirm({
                            title: '温馨提示!',
                            mes: "前往绑定会员卡",
                            opts: (function () {
                                window.location.href = "mineCard.html"
                            })
                        });
                    }
                }
            },
//          扫码函数
            scanCode:function () {
                var that =this;
                if (/MicroMessenger/.test(window.navigator.userAgent)) {
                    wx.scanQRCode({
                        needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                        scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                        success: function (res) {
                            var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                            console.log(result);
//                            alert(JSON.stringify(result));
                            that.jumpFnc(result);
                        }
                    });
                } else if (/AlipayClient/.test(window.navigator.userAgent)) {
//                    alert("ali");
                    AlipayJSBridge.call('scan', {
                        type: 'qr',
                        actionType: 'scan'
                    }, function(result) {
//                        alert(JSON.stringify(result));
                        that.jumpFnc(result.qrCode);
                    });
                } else {
                    that.$dialog.toast({
                        mes: "暂不支持此浏览器!",
                        timeout:1500,
                        icon: 'error'
                    });
                }

            },
//          扫码之后跳转函数
            jumpFnc:function (result) {
                var that =this;
//                alert(JSON.stringify(result));
                var str = result.toString();
                strSplit = str.split("/");
//                alert(JSON.stringify(strSplit));
                var strCode = strSplit[strSplit.length - 2];
//                alert(strCode);
//                alert(strCode == "m");
                if (strCode=="m"){
                    var deviceToken = strSplit[strSplit.length - 1];//扫码获得终端号解析
                    this.$dialog.loading.open('');
                    var obj={sysId: sysId, versionNo: versionNo, deviceToken:deviceToken};
                    axios.post('/xcgamemana/store?action=storeInfoByTerminalNo', obj).then(function (res) {
                        that.$dialog.loading.close();
                        that.msgPrompt(res.data);
                        console.log(res.data);
                        if (res.data.result_code === '1') {
                            setStorage("deviceToken",deviceToken);
                            switch (res.data.result_data.deviceType) {
                                case "自助提币机":
                                    window.location.href = "CurrencyOperation.html";
                                    break;
                                case "自助存币机":
                                    window.location.href = "CurrencyOperation.html";
                                    break;
                                case "游戏机":
                                    window.location.href = "games.html";
                                    break;
                                default:
                                    break;
                            }
                        }
                    }).catch(function (err) {
                        that.$dialog.loading.close();
                        console.log(err);
                    });
                }else {
                    this.$dialog.toast({
                        mes: "二维码错误！",
                        timeout: 1500,
                        icon: 'error'
                    });
                }
            },

//          切换会员卡或绑卡
            mineCard:function () {
                var that = this;
                if(that.mobileToken == ""){
                    that.$dialog.confirm({
                        title: '温馨提示!',
                        mes: "是否前往登录或注册？",
                        opts: (function () {
                            window.location.href = "login.html"
                        })
                    });
                }else {
                    window.location.href ="mineCard.html"
                }
            },
            msgPrompt:function (res) {
                if(res.return_code == 0){
                    this.$dialog.toast({
                        mes: res.return_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }else if(res.result_code == 0){
                    this.$dialog.toast({
                        mes: res.result_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }
            }
        }
    });
    //存储session
    function setStorage(key,value) {
        if(window.localStorage){
            value = JSON.stringify(value); //转化为JSON字符串
            var storage=window.localStorage;
            storage.setItem(key,value);
        }
    }
    //删除session
    function removeStorage(key) {
        if(window.localStorage){
            var storage=window.localStorage;
            storage.removeItem(key);
        }
    }
    //获取session
    function getStorage(key) {
        if(window.localStorage){
            value = JSON.parse(localStorage.getItem(key));
            return value;
        }
    }
    $(function () {
        // Declare a proxy to reference the hub
    });
</script>

</body>
</html>