<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>莘拍档</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/ydui.rem.css">
    <!-- 引入rem自适应类库 -->

    <style>
        body{
            height: 100%;
            width: 100%;
        }
        .itemImg{width: 0.45rem;height: 0.8rem;}
        .codeInput{border: none;}
        .codeDiv{width: 3rem;}
        .codeImg{width: 1.4rem;margin-top: 0.1rem;}
        .codeText{position: relative;top: -0.13rem;}
    </style>
</head>
<body>

<div id="app">
    <yd-cell-group>
        <yd-cell-item>
            <img class="itemImg" slot="icon" src="images/account.png">
            <input slot="right" type="number" placeholder="请输入手机号" v-model="mobile" v-on:blur="inputPrompt">
        </yd-cell-item>
        <yd-cell-item>
            <img class="itemImg" slot="icon" src="images/note.png">
            <input class="codeInput" slot="left" type="text" placeholder="请输入验证码" v-model="imgCode">
            <div class="codeDiv" slot="right">
                <img class="codeImg" slot="icon" :src="Verification">
                <span class="codeText" @click="verificationChange">点击刷新</span>
            </div>
        </yd-cell-item>
    </yd-cell-group>
    <yd-cell-group>
        <yd-cell-item>
            <yd-icon slot="icon" name="phone3" size=".45rem"></yd-icon>
            <input type="text" slot="right" placeholder="请输入短信验证码" v-model="smsCode">
            <yd-sendcode slot="right"
                         v-model="start1"
                         second="30"
                         @click.native="sendCode"
                         type="warning"
            ></yd-sendcode>


        </yd-cell-item>
    </yd-cell-group>
    <yd-button size="large" type="primary" @click.native="register">注册</yd-button>
</div>

<!-- 引入 Vue -->
<script src="js/vue.js"></script>
<script src="js/jquery-1.8.3-min.js"></script>
<script src="js/ydui.flexible.js"></script>
<!-- 引入组件库 -->
<script src="js/ydui.rem.js"></script>
<script src="js/axios.min.js"></script>
<script>
    var htmlfnc = new Vue({
        el: '#app',
        data:{
            Verification: "/ServicePage/ValidateImg.aspx? t =" + new Date().getTime(),
            mobile: '',
            imgCode: '',
            smsCode:"",
            start1:false
        },
        mounted: function () {
            this.Load();
        },
        methods: {
            verificationChange:function(){
                this.Verification = "/ServicePage/ValidateImg.aspx? t =" + new Date().getTime()
            },
            inputPrompt:function () {
                var mobile =this.mobile;
                var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1}))+\d{8})$/;
                if (!myreg.test(mobile) || mobile.length == 0 || mobile.length != 11) {
                    this.$dialog.toast({
                        mes: '请输入正确手机号！',
                        timeout: 1500,
                        icon: 'error'
                    });
                    this.mobile ==""
                }
            },
            sendCode:function () {
                var that=this;
                if(that.mobile =="" ||that.imgCode =="" ){
                    that.$dialog.toast({
                        mes: '请先填入手机号和图形验证码！',
                        icon: 'error',
                        timeout: 1500
                    });
                }else {
                    this.$dialog.loading.open('发送中...');
                    this.start1 = true;
                    console.log(that.mobile+"/"+that.imgCode);
                    var obj={"sysId": "0","versionNo": "0.0.0.1",mobile:that.mobile,imgCode:that.imgCode};
                    axios.post("/xcgamemana/token?action=getSMSCode", obj).then(function (res) {
                        console.log(res.data);
                        that.$dialog.loading.close();
                        if (res.data.result_code === '1') {
                            that.$dialog.toast({
                                mes: '已发送',
                                icon: 'success',
                                timeout: 1500
                            });
                        }
                    }).catch(function (err) {
                        console.log(err);
                        that.$dialog.loading.close();
                        that.$dialog.toast({
                            mes: "请求失败!",
                            timeout: 1500,
                            icon: 'error'
                        });
                    });
                }
            },
            register:function () {
                var that =this;
                this.$dialog.loading.open('');
                if (/MicroMessenger/.test(window.navigator.userAgent)) {
                    var thirdType ="0";
                    var userThirdId =getStorage("openId");
                } else if (/AlipayClient/.test(window.navigator.userAgent)) {
                    var thirdType ="1";
                    var userThirdId =getStorage("userId");
                } else {
                    console.log("暂不支持此浏览器")
                }
//                var obj={"sysId": "0","versionNo": "0.0.0.1",mobile: that.mobile,smsCode: that.smsCode,thirdType:"1",userThirdId:"2088012003061467"};
                var obj={"sysId": "0","versionNo": "0.0.0.1",mobile: that.mobile,smsCode: that.smsCode,thirdType:thirdType,userThirdId:userThirdId};
                axios.post("/xcgamemana/token?action=getMobileToken", obj).then(function (res) {
                    that.$dialog.loading.close();
                    console.log(res.data);
                    that.msgPrompt(res.data);
                    if (res.data.result_code === '1') {
                        setStorage("mobileToken",res.data.result_data.mobileToken);
                        window.location.href = "home.html"
                    }
                }).catch(function (err) {
                    that.$dialog.loading.close();
                    console.log(err);
                })

            },
            Load: function () {

            },
            msgPrompt:function (res) {
                if(res.return_code == 0){
                    this.$dialog.toast({
                        mes: res.return_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }else if(res.result_code == 0){
                    this.$dialog.toast({
                        mes: res.result_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }
            }
        }
    });

    //存储session
    function setStorage(key,value) {
        if(window.localStorage){
            value = JSON.stringify(value); //转化为JSON字符串
            var storage=window.localStorage;
            storage.setItem(key,value);
        }
    }
    //删除session
    function removeStorage(key) {
        if(window.localStorage){
            var storage=window.localStorage;
            storage.removeItem(key);
        }
    }
    //获取session
    function getStorage(key) {
        if(window.localStorage){
            value = JSON.parse(localStorage.getItem(key));
            return value;
        }
    }



</script>
</body>
</html>