<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>莘拍档</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/ydui.rem.css">
    <!-- 引入rem自适应类库 -->
    <script src="js/ydui.flexible.js"></script>
    <style>
        body{
            height: 100%;
            width: 100%;
        }
        .itemImg{width: 0.45rem;height: 0.8rem;}
        .codeDiv{width: 4rem;display: flex;flex-direction: row;}
        .codeImg{width: 1.4rem;height: 0.6rem;margin-top: 0.1rem;}
        .codeText{line-height: 0.8rem;margin-left: 0.2rem;}
    </style>
</head>
<body>

<div id="app">
    <yd-cell-group>
        <yd-cell-item>
            <img class="itemImg" slot="icon" src="images/account.png">
            <input slot="right" type="number" placeholder="请输入手机号" v-model="mobile" v-on:blur="inputPrompt" oninput="if(value.length>11)value=value.slice(0,11)">
        </yd-cell-item>
        <yd-cell-item arrow>
            <img class="itemImg" slot="icon" src="images/birthday.png">
            <span slot="left">生日：</span>
            <yd-datetime type="day" v-model="datetime" slot="right"></yd-datetime>
        </yd-cell-item>
    </yd-cell-group>
    <yd-cell-group>
        <yd-cell-item>
            <img class="itemImg" slot="icon" src="images/IdCard.png">
            <input slot="right" type="number" placeholder="身份证号" v-model="IdCard" v-on:blur="inputIdCard" oninput="if(value.length>18)value=value.slice(0,18)">
        </yd-cell-item>
    </yd-cell-group>
    <yd-cell-group>
        <yd-cell-item>
            <yd-icon slot="icon" name="phone3" size=".45rem"></yd-icon>
            <input type="text" slot="right" placeholder="请输入短信验证码" v-model="smsCode">
            <yd-sendcode slot="right"
                         v-model="start"
                         second="30"
                         @click.native="sendCode"
                         type="warning"
            ></yd-sendcode>
        </yd-cell-item>
    </yd-cell-group>
    <yd-button size="large" type="primary" @click.native="register">提交</yd-button>
</div>

<!-- 引入 Vue -->
<script src="js/vue.js"></script>
<script src="js/jquery-1.8.3-min.js"></script>

<!-- 引入组件库 -->
<script src="js/ydui.rem.js"></script>
<script src="js/axios.min.js"></script>
<script>
    var sysId = 0; //调用方应用Id
    var versionNo= "0.89"; //版本号
    var vm = new Vue({
        el: '#app',
        data:{
            Verification: "/ServicePage/ValidateImg.aspx? t =" + new Date().getTime(),
            mobile: '',
            imgCode: '',
            smsCode:"",
            start:false,
            datetime: '',
            IdCard: '',
            monthFormat: '<span style="color:#0BB20C;">{value}<i style="font-size: 12px;margin-left: 1px;">月</i></span>',
            dayFormat: '<span style="color:#FFB400;">{value}<i style="font-size: 12px;margin-left: 1px;">日</i></span>'
        },
        mounted: function () {
            this.Load();
        },
        methods: {
            inputIdCard:function () {
                var that = this;
                var myreg =/^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/;
                var IdCard = this.IdCard;
                if (!myreg.test(IdCard) || IdCard.length == 0 || IdCard.length != 18) {
                    this.$dialog.toast({
                        mes: '请输入正确身份证号！',
                        timeout: 1500,
                        icon: 'error'
                    });
                    that.IdCard = ""
                }
            },
            inputPrompt:function () {
                var mobile =this.mobile;
                var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1}))+\d{8})$/;
                if (!myreg.test(mobile) || mobile.length == 0 || mobile.length != 11) {
                    this.$dialog.toast({
                        mes: '请输入正确手机号！',
                        timeout: 1500,
                        icon: 'error'
                    });
                    this.mobile =""
                }
            },
            sendCode:function () {
                var that=this;
                if(that.mobile ==""){
                    that.$dialog.toast({
                        mes: '请先填入手机号！',
                        icon: 'error',
                        timeout: 1500
                    });
                }else {
                    that.$dialog.loading.open('发送中...');
                    this.start = true;
                    console.log(that.mobile+"/"+that.imgCode);
                    var obj={"sysId": sysId,"versionNo": versionNo,mobile:that.mobile};
                    axios.post("/XCCloudH5/Member?action=getSMSCode", obj).then(function (res) {
                        console.log(res.data);
                        that.$dialog.loading.close();
                        if (res.data.result_code === '1') {
                            that.$dialog.toast({
                                mes: '已发送',
                                icon: 'success',
                                timeout: 1500
                            });
                        }
                    }).catch(function (err) {
                        console.log(err);
                        that.$dialog.loading.close();
                        that.$dialog.toast({
                            mes: "请求失败!",
                            timeout: 1500,
                            icon: 'error'
                        });
                    });
                }
            },
            register:function () {
                var that =this;
                this.$dialog.loading.open('');
                if (/MicroMessenger/.test(window.navigator.userAgent)) {
                    var thirdType ="0";
                    var userThirdId =getStorage("openId");
                } else if (/AlipayClient/.test(window.navigator.userAgent)) {
                    var thirdType ="1";
                    var userThirdId =getStorage("userId");
                } else {
                    console.log("暂不支持此浏览器")
                }
                var obj={"sysId": sysId,"versionNo": versionNo,mobile: that.mobile,smsCode: that.smsCode,thirdType:thirdType,userThirdId:userThirdId};
                axios.post("/xcgamemana/token?action=getMobileToken", obj).then(function (res) {
                    that.$dialog.loading.close();
                    console.log(res.data);
                    that.msgPrompt(res.data);
                    if (res.data.result_code === '1') {
                        setStorage("mobileToken",res.data.result_data.mobileToken);
                        window.location.href = "index.html"
                    }
                }).catch(function (err) {
                    that.$dialog.loading.close();
                    console.log(err);
                })
            },
            Load: function () {
                var that =this;
                var myDate = new Date();
                var mm = myDate.getMonth();
                var yy = myDate.getDate();
                mm ++;
                if(mm<10){
                    mm =0+""+mm;
                }
                that.datetime= mm + "-" + yy
            },
            msgPrompt:function (res) {
                if(res.return_code == 0){
                    this.$dialog.toast({
                        mes: res.return_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }else if(res.result_code == 0){
                    this.$dialog.toast({
                        mes: res.result_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }
            }
        }
    });

    //存储session
    function setStorage(key,value) {
        if(window.localStorage){
            value = JSON.stringify(value); //转化为JSON字符串
            var storage=window.localStorage;
            storage.setItem(key,value);
        }
    }
    //删除session
    function removeStorage(key) {
        if(window.localStorage){
            var storage=window.localStorage;
            storage.removeItem(key);
        }
    }
    //获取session
    function getStorage(key) {
        if(window.localStorage){
            value = JSON.parse(localStorage.getItem(key));
            return value;
        }
    }
</script>
</body>
</html>