<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>莘拍档</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/ydui.rem.css">
    <!-- 引入rem自适应类库 -->
    <script src="js/ydui.flexible.js"></script>
    <style>
        .payClass {width: 100%; height: 1.5rem; overflow: hidden; position: fixed; display: flex; flex-direction: row;justify-content: space-between; bottom: 0; left: 0; z-index: 2000;background-color: #fff;}
        .payClass img{width: 1.5rem;height: 1.5rem;margin-left: 0.3rem;}
        .total{height: 1.3rem;margin-top:0.1rem;color: red;text-align: center;}
        .total p{line-height: 0.6rem;font-size: 0.4rem;font-weight: 500;}
        .payBtn{width: 2.5rem;margin-right: 0.3rem;}
    </style>
</head>
<body>

<div id="app">
    <yd-list>
        <yd-list-item v-for="(item,index) in list" :key="item.foodID">
            <div class="section_cont">
                <div>
                    <p class="section_cont_sub">{{item.foodName}}</p>
                    <p class="section_cont_price">价格：{{item.foodPrice}}</p>
                    <p>数量：{{item.coinQuantity}}{{item.sendCoinQuantity}}</p>
                </div>
                <div>
                    <p>请输入购买数量</p>
                    <input type="number" maxlength='5' @click.native="INInput(index)" v-model="payNumber"/>
                </div>
            </div>
            <yd-list-other slot="other">
                <div>
                    <span class="demo-list-price"><em>¥</em>{{item.price}}</span>
                    <span class="demo-list-del-price">¥{{item.w_price}}</span>
                </div>
                <div>content</div>
            </yd-list-other>
        </yd-list-item>
    </yd-list>
    <div class="payClass" v-show="payCarShow">
        <img src="images/shoppingcard.png">
        <div class='total'>
            <p>￥{{payn}}</p>
            <p>{{totalCoins}}币</p>
        </div>
        <yd-button class="payBtn" size="large" type="warning" @click.native="payBtn">结算</yd-button>
    </div>
</div>

<!-- 引入 Vue -->
<script src="js/vue.js"></script>
<script src="js/jquery-1.8.3-min.js"></script>
<!-- 引入组件库 -->
<script src="js/ydui.rem.js"></script>
<script src="js/axios.min.js"></script>
<script src="https://gw.alipayobjects.com/as/g/h5-lib/alipayjsapi/3.1.0/alipayjsapi.min.js"></script>
<script>
    var sysId = 0; //调用方应用Id
    var versionNo= "0.89"; //版本号
    var url_getDataOrder = '/XCGameMana/DataOrder?action=getDataOrder';//获取分页订单列表
    var htmlfnc = new Vue({
        el: '#app',
        data:{
            mobileToken:'',
            payCarShow:false,
            list:[],
            payn:'',
            indexValue:'',
            payNumber:"",
            totalCoins:''
        },
        mounted: function () {

        },
        methods: {
            Load:function () {
                var that = this;
                var memberTokens = my.getStorageSync({ key: 'memberTokens' }).data ||"";     //获取
                var mobileToken = my.getStorageSync({ key: 'mobileToken' }).data ||"";     //获取
                var obj={"sysId": "0","versionNo": "0.0.0.1",storeId: memberTokens.storeId, memberToken: memberTokens.memberToken};
                this.$dialog.loading.open('');
                if (memberTokens == "") {
                    that.$dialog.toast({
                        mes: "会员令牌失效！",
                        timeout: 1500,
                        icon: 'error'
                    });
                } else {
                    axios.post(url_Foods, obj).then(function (res) {
                        that.$dialog.loading.close();
                        that.msgPrompt(res.data);
                        console.log(res.data);
                        if (res.data.result_code === '1') {
                            var jsonData = [];
                            for (var i = 0; i < res.data.result_data.length; i++) {
                                if (res.data.result_data[i].sendCoinQuantity == 0) {
                                    var sendCoinQuantity = ""
                                } else {
                                    var sendCoinQuantity = "+" + res.data.result_data[i].sendCoinQuantity
                                }
                                jsonData.push({
                                    foodID: res.data.result_data[i].foodID,
                                    foodName: res.data.result_data[i].foodName,
                                    foodPrice: res.data.result_data[i].foodPrice,
                                    coinQuantity: res.data.result_data[i].coinQuantity,
                                    isQuickFood: res.data.result_data[i].isQuickFood,
                                    sendCoinQuantity: sendCoinQuantity,
                                });
                            }
                            that.list=jsonData
                        }
                    }).catch(function (err) {
                        that.$dialog.loading.close();
                        console.log(err);
                    });
                }

            },
            INInput:function (index) {
                var that = this;
                index.preventDefault();
                that.indexValue =index;
                console.log(index);
                if (that.payNumber.length ==0){
                    that.payn = 0
                }
                if (parseInt(that.payNumber) <= 0) {
                    that.payCarShow =true;
                    that.payn =0;
                } else {
                    var pay_n = parseInt(that.payNumber) * newdata[index].foodPrice;
                    that.payCarShow = true;
                    that.payn = pay_n.toFixed(2);
                    that.totalCoins = parseInt(that.payNumber) * parseInt(newdata[index].coinQuantity);
                }
            },
            payBtn: function(e){   //支付按钮
                var that = this;
                console.log(that.payn);
                var orderTip = "购入"+that.list[indexValue].foodName + that.payNumber+"份";
                var memberTokens = my.getStorageSync({ key: 'memberTokens' }).data ||"";     //获取
                var mobileToken = my.getStorageSync({ key: 'mobileToken' }).data ||"";     //获取
                var developer = my.getStorageSync({ key: 'developer' }).data ||"";     //获取
                var buyCoins = my.getStorageSync({ key: 'buyCoins' }).data ||"";     //获取
                if (that.data.payn != "0.00") {    //会员充值或购币
                    if (buyCoins == ""){
                        var buyCType = "充值";
                        var buyCdeviceToken = ""
                    }else{
                        var buyCType = "购币";
                        var buyCdeviceToken = buyCoins.developer
                    }
                    var obj={
                        sysId: sysId,
                        versionNo: versionNo,
                        mobileToken: mobileToken,
                        storeId: memberTokens.storeId,
                        productName: that.data.list[payId].foodName,
                        coins: parseInt(that.data.list[payId].value) * parseInt(that.data.list[payId].coinQuantity),
                        buyType: buyCType,
                        payPrice: that.data.payn
                    };
                    this.$dialog.loading.open('');
                    axios.post(url_Foods, obj).then(function (res) {
                        that.$dialog.loading.close();
                        that.msgPrompt(res.data);
                        console.log(res.data);
                        if (res.data.result_code === '1') {

                            }
                        }).catch(function (err) {
                            that.$dialog.loading.close();
                            console.log(err);
                        });
                    }

//                    my.httpRequest({
//                        url: url_getAliMiniAppPaySign,
//                        method: 'POST',
//                        data: {
//                            sysId: sysId,
//                            versionNo: versionNo,
//                            mobileToken: mobileToken,
//                            storeId: memberTokens.storeId,
//                            productName: that.data.list[payId].foodName,
//                            coins: parseInt(that.data.list[payId].value) * parseInt(that.data.list[payId].coinQuantity),
//                            buyType: buyCType,
//                            payPrice: that.data.payn
//                        },
//                        dataType: 'json',
//                        success: function(res) {
//                            console.log(res.data);
//                            that.msgShowing(res.data)
//                            if (res.data.result_code == 1) {
//                                let myOrderStr =res.data.result_data.PaySign;
//                                my.tradePay({
//                                    orderStr: myOrderStr,
//                                    success: (res) => {
//                                    console.log(JSON.stringify(res))
//                                // console.log(res.resultCode)
//                                // console.log(res.resultCode == "9000")
//                                if(res.resultCode == "9000"){
//                                    let orderID =res.out_trade_no
//                                    let formId =res.trade_no
//                                    my.httpRequest({
//                                        url: url_getfoodsale,
//                                        method: 'POST',
//                                        data: {
//                                            sysId: sysId,
//                                            versionNo: versionNo,
//                                            foodid: that.data.list[payId].foodID,
//                                            deviceToken: buyCdeviceToken,
//                                            money: that.data.payn,
//                                            Coins: parseInt(that.data.list[payId].value) * parseInt(that.data.list[payId].coinQuantity),
//                                            OrderID: orderID,
//                                            membertoken: memberTokens.memberToken,
//                                            mobiletoken: mobileToken,
//                                            type: buyCType,
//                                            Paymentype: "支付宝",
//                                            form_id: formId,
//                                            foodNum: that.data.list[payId].value
//                                        },
//                                        dataType: 'json',
//                                        success: function(res) {
//                                            console.log(res.data)
//                                            if (res.data.result_code == 1) {
//                                                my.showToast({
//                                                    type: 'success',
//                                                    content: '操作成功',
//                                                    duration: 2000,
//                                                });
//                                                that.onShow()
//                                            }else{
//                                                my.alert({
//                                                    title: '充值出现异常',
//                                                    content: '请联系管理员',
//                                                    buttonText: '我知道了',
//                                                    success: () => {
//                                                    that.onShow()
//                                            },
//                                            });
//                                            }
//                                        },
//                                        fail: function (err) {
//                                            console.log(err.data)
//                                            my.alert({
//                                                title: '充值出现异常',
//                                                content: '请联系管理员',
//                                                buttonText: '我知道了',
//                                                success: () => {
//                                                that.onShow()
//                                        },
//                                        });
//                                        }
//                                    });
//                                }else if(res.resultCode == "6001"){
//                                    my.showToast({
//                                        type: 'fail',
//                                        content: "用户中途取消",
//                                        duration: 2000
//                                    });
//                                }else if(res.resultCode == "6002"){
//                                    my.showToast({
//                                        type: 'fail',
//                                        content: "网络连接出错",
//                                        duration: 2000
//                                    });
//                                }else if(res.resultCode == "4000"){
//                                    my.showToast({
//                                        type: 'fail',
//                                        content: "订单支付失败",
//                                        duration: 2000
//                                    });
//                                }else{
//                                    my.showToast({
//                                        type: 'fail',
//                                        content: "支付失败",
//                                        duration: 2000
//                                    });
//                                }
//                            },
//                                fail: (res) => {
//                                    my.alert({
//                                        content: JSON.stringify(res),
//                                    });
//                                }
//                            });
//                            }
//                        },
//                        fail: function(res) {
//                            my.showToast({
//                                type: 'fail',
//                                content: "服务器连接失败",
//                                duration: 3000
//                            });
//                        }
//                    });
//                }
            },
            msgPrompt:function (res) {
                if(res.return_code == 0){
                    this.$dialog.toast({
                        mes: res.return_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }else if(res.result_code == 0){
                    this.$dialog.toast({
                        mes: res.result_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }
            }
        }
    });
</script>
</body>
</html>