<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>莘拍档</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/ydui.rem.css">
    <!-- 引入rem自适应类库 -->
    <script src="js/ydui.flexible.js"></script>
    <style>
        .section_image{width: 1rem;height: 0.7rem;display: inline-block;margin-top: 0.36rem;min-width: 1rem;max-width: 1rem;margin-right: 0.2rem;}
        .section_items{display:flex;flex-direction: row;margin:0.3rem;padding:0.2rem;border-radius: 12px;position: relative;}
        .section_cont{width:4rem;font-size:0.26rem;color:#666;}
        .waterBills{display: inline-block;padding:0.1rem;height:0.5rem;font-size:0.26rem;border-radius:0.05rem;background:#10aeff;line-height: 0.3rem;color:#fff;text-align: center; margin-top:0.3rem;position: absolute;bottom: 0.3rem;right: 0.3rem;}
        .bindCard{display: inline-block;padding:0.1rem;height:0.5rem;font-size:0.26rem;border-radius:0.05rem;background:#FF0000;line-height: 0.3rem;color:#fff;text-align: center; margin-top:0.3rem;position: absolute;bottom: 1rem;right: 0.3rem;}
        .section_items:nth-child(5n+1){background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);}
        .section_items:nth-child(5n+2){background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);}
        .section_items:nth-child(5n+3){background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);}
        .section_items:nth-child(5n+4){background: #C9CCD3; background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%); background-blend-mode: lighten;}
        .section_items:nth-child(5n+5){background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);}
        .hid_contSty{display: flex;flex-direction: row;margin-top: 0.1rem;}
        .hid_contStys{width: 1.6rem;text-align: left;color: #d24a58;}
        .cardIcon{width: 0.5rem;height: 0.5rem;margin-top: 0.16rem;}
        .iconSty{color: #1E90FF; line-height: 0.8rem;display: flex;flex-direction: row-reverse;font-size: 0.35rem;margin-top: 0.3rem;margin-right: 0.2rem;}
        [v-cloak] {
            display: none;
        }
        .width3{width:2.5rem;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;min-width: 2.5rem;max-width: 2.5rem;}
    </style>
</head>
<body>
<div id="app" v-cloak>
    <yd-navbar title="莘拍档">
        <router-link to="index.html" slot="left">
            <yd-navbar-back-icon @click.native="goBack">返回</yd-navbar-back-icon>
        </router-link>
        <router-link slot="right">
            <img slot="icon" class="cardIcon" src="images/addpic.png" @click="tiedCard">
        </router-link>
    </yd-navbar>
    <!--<div class="iconSty" @click="tiedCard"><span>我要绑卡</span><img slot="icon" class="cardIcon" src="images/tiedCard.png"></div>-->
    <div>
        <div class="section_items" v-for="(item,index) in memberCard" :key="index" @click="chooseCard(index)">
            <!--<img class="section_image" slot="img" src="images/vipCard.png">-->
            <div class="section_cont">
                <div class="hid_contSty">
                    <p class="hid_contStys">开卡门店：</p>
                    <p>{{item.StoreName}}</p>
                </div>
                <div class="hid_contSty">
                    <p class="hid_contStys">卡号：</p>
                    <p class="width3">{{item.ICCardId}}</p>
                </div>
                <div class="hid_contSty">
                    <p class="hid_contStys">级别：</p>
                    <p>{{item.LevelName}}</p>
                </div>
                <div class="hid_contSty">
                    <p class="hid_contStys">到期日期：</p>
                    <p>{{item.EndDate}}</p>
                </div>
            </div>
            <span class="waterBills" @click.stop="waterBillsList(index)">流水账单</span>
            <span v-if="item.IsCanBind" class="bindCard" @click.stop="openCard(index)">领卡卡</span>
        </div>
    </div>
</div>

<!-- 引入 Vue -->
<script src="js/vue.js"></script>
<script src="js/jquery-1.8.3-min.js"></script>
<!-- 引入组件库 -->
<script src="js/ydui.rem.js"></script>
<script src="js/axios.min.js"></script>
<script>
    var sysId = 0; //调用方应用Id
    var versionNo= "0.01"; //版本号
    var vm = new Vue({
        el: '#app',
        data:{
            userThirdId:"",
            memberCard:null
        },
        mounted: function () {
            this.Load();
        },
        methods: {
            Load:function () {
                var that =this;
                console.log("0"==true)
                var userThirdId = getStorage("userThirdId")||"";     //获取第三方令牌
                that.userThirdId = userThirdId;
                this.$dialog.loading.open('');
                var obj={
                    sysId: sysId,
                    versionNo: versionNo,
                    token: that.userThirdId
                };
                this.$dialog.loading.open('');
                axios.post('/XCCloudH5/Member?action=getCardList', obj).then(function (res) {
                    that.$dialog.loading.close();
                    that.msgPrompt(res.data);
                    console.log(res.data);
                    if (res.data.result_code === '1') {
                        var memberCard_ = [];
                        for (var i = 0; i < res.data.result_data.length; i++){
                            var ICCardId = res.data.result_data[i].ICCardId;
                            ICCardId=ICCardId.substring(ICCardId.length-10);
                            memberCard_.push({
                                IsCanBind:res.data.result_data[i].IsCanBind,
                                StoreName:res.data.result_data[i].StoreName,
                                EndDate: res.data.result_data[i].EndDate,
                                LevelName: res.data.result_data[i].LevelName,
                                Id: res.data.result_data[i].Id,
                                ICCardId: ICCardId
                            })
                        }
                        that.memberCard = memberCard_;
                        console.log(that.memberCard)
                    }
                }).catch(function (err) {
                    that.$dialog.loading.close();
                    console.log(err);
                })

            },
//          绑卡跳转
            tiedCard:function () {
                window.location.href = "tiedCard.html"
            },
//          返回
            goBack:function () {
                window.location.href = "index.html";
            },
//          选择卡
            chooseCard:function (index) {
                var that = this;
                this.$dialog.loading.open('');
                var obj={
                    sysId: sysId,
                    versionNo: versionNo,
                    token: that.userThirdId,
                    cardId:that.memberCard[index].Id
                };
                axios.post('/XCCloudH5/Member?action=chooseCard', obj).then(function (res) {
                    that.$dialog.loading.close();
                    that.msgPrompt(res.data);
                    console.log(res.data);
                    if (res.data.result_code === '1') {
                        window.location.href = "index.html"
                    }
                }).catch(function (err) {
                    that.$dialog.loading.close();
                    console.log(err);
                })
            },
//          跳转开卡页面
            openCard:function(index){
                console.log(index)
                console.log(this.memberCard)
                var virtualCardId = this.memberCard[index].Id;
                setStorage("virtualCardId",virtualCardId);
                window.location.href = "openCard.html"
            },
            msgPrompt:function (res) {
                if(res.return_code == 0){
                    this.$dialog.toast({
                        mes: res.return_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }else if(res.result_code == 0){
                    this.$dialog.toast({
                        mes: res.result_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }
            }
        }
    });
    //存储session
    function setStorage(key,value) {
        if(window.localStorage){
            value = JSON.stringify(value); //转化为JSON字符串
            var storage=window.localStorage;
            storage.setItem(key,value);
        }
    }
    //删除session
    function removeStorage(key) {
        if(window.localStorage){
            var storage=window.localStorage;
            storage.removeItem(key);
        }
    }
    //获取session
    function getStorage(key) {
        if(window.localStorage){
            value = JSON.parse(localStorage.getItem(key));
            return value;
        }
    }
</script>
</body>
</html>