<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>莘拍档</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/ydui.rem.css">
    <!-- 引入 Vue -->
    <script src="js/vue.js"></script>
    <!-- 引入rem自适应类库 -->
    <script src="js/ydui.rem.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
        input{padding-left: 0.1rem;}
        .itemIcon{font-size: 0.34rem!important;}
    </style>
</head>
<body>
<div id="app" v-cloak>
    <yd-navbar title="莘拍档">
        <router-link to="index.html" slot="left">
            <yd-navbar-back-icon @click.native="goBack">返回</yd-navbar-back-icon>
        </router-link>
    </yd-navbar>
    <yd-cell-group>
        <yd-cell-item arrow>
            <img class="itemImg" slot="icon" src="images/member.png">
            <input slot="right" type="number" placeholder="请输入会员卡卡号" v-model="icCardId" v-on:blur="inputCardId" oninput="if(value.length>15)value=value.slice(0,15)">
            <span slot="right" @click="inputCardId">查询</span>
        </yd-cell-item>
    </yd-cell-group>
    <yd-cell-group v-if="mobileIf">
        <yd-cell-item>
            <img class="itemImg" slot="icon" src="images/account.png">
            <input slot="right" type="text" placeholder="手机号" v-model="mobile" readonly>
        </yd-cell-item>
    </yd-cell-group>
    <yd-cell-group>
        <yd-cell-item>
            <yd-icon name="phone2" slot="icon" class="itemIcon"></yd-icon>
            <input slot="right" type="number" placeholder="请输入手机号" v-model="mobileNO">
        </yd-cell-item>
    </yd-cell-group>
    <yd-cell-group>
        <yd-cell-item>
            <yd-icon slot="icon" name="phone3" size=".45rem"></yd-icon>
            <input type="text" slot="right" placeholder="请输入短信验证码" v-model="smsCode">
            <yd-sendcode slot="right"
                         v-model="start"
                         second="30"
                         @click.native="sendCode"
                         type="warning"
            ></yd-sendcode>
        </yd-cell-item>
    </yd-cell-group>
    <yd-button size="large" type="primary" @click.native="tiedCard">绑定</yd-button>
</div>


<script src="js/jquery-1.8.3-min.js"></script>
<!-- 引入组件库 -->
<script src="js/ydui.flexible.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/alipayjsapi.min.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    var sysId = 0; //调用方应用Id
    var versionNo= "0.01"; //版本号
    // 28801810
    var htmlfnc = new Vue({
        el: '#app',
        data:{
            icCardId:"",
            userThirdId : "",
            mobile:"",
            mobileNO:"",
            smsCode:"",
            start:false,
            mobileIf:false
        },
        mounted: function () {
            this.Load();
        },
        methods: {
            Load:function () {
                var that =this;
                var userThirdId = getStorage("userThirdId")||"";     //获取第三方令牌
                that.userThirdId = userThirdId;
            },
//          卡号输入
            inputCardId:function () {
                var that = this;
                this.$dialog.loading.open('');
                var obj={sysId: sysId,versionNo: versionNo, token:that.userThirdId,icCardId:that.icCardId};
                axios.post('/XCCloudH5/Member?action=getCardMobile', obj).then(function (res) {
                    that.$dialog.loading.close();
                    that.msgPrompt(res.data);
                    console.log(res.data);
                    JSON.stringify(res.data);
                    if (res.data.result_code === '1') {
                        that.mobile = res.data.result_data.Mobile;
                        that.mobileIf = true;
                    }
                }).catch(function (err) {
                    that.$dialog.loading.close();
                    console.log(err);
                })
            },
//          返回
            goBack:function () {
                window.location.href = "index.html";
            },
//          发送手机验证码
            sendCode() {
                var that = this;
                this.$dialog.loading.open('发送中...');
                setTimeout(() => {
                    this.start = true;
                    this.$dialog.loading.close();
                    var verifyMobile = {sysId: sysId,versionNo: versionNo, token:that.userThirdId,icCardId:that.icCardId,mobile:that.mobileNO};
                    console.log(verifyMobile)
                    axios.post('/XCCloudH5/Member?action=verifyMobile', verifyMobile).then(function (res) {
                        that.$dialog.loading.close();
                        that.msgPrompt(res.data);
                        console.log(res.data);
                        if (res.data.result_code === '1') {
                            var obj={sysId: sysId,versionNo: versionNo, mobile:that.mobileNO};
                            axios.post('/XCCloudH5/Member?action=getSMSCode', obj).then(function (res) {
                                that.$dialog.loading.close();
                                that.msgPrompt(res.data);
                                console.log(res.data);
                                JSON.stringify(res.data);
                                if (res.data.result_code === '1') {
                                    that.$dialog.toast({
                                        mes: '已发送',
                                        icon: 'success',
                                        timeout: 1500
                                    });
                                }
                            }).catch(function (err) {
                                that.$dialog.loading.close();
                                console.log(err);
                            })
                        }
                    }).catch(function (err) {
                        that.$dialog.loading.close();
                        console.log(err);
                    })
                }, 1000);
            },
//          绑定卡
            tiedCard:function () {
                var that = this;
                this.$dialog.loading.open('');
                var obj={sysId: sysId,versionNo: versionNo, token:that.userThirdId,icCardId:that.icCardId,mobile:that.mobileNO,smsCode:that.smsCode};
                console.log(obj)
                axios.post('/XCCloudH5/Member?action=bindCard', obj).then(function (res) {
                    that.$dialog.loading.close();
                    that.msgPrompt(res.data);
                    console.log(res.data);
                    JSON.stringify(res.data);
                    if (res.data.result_code === '1') {
                        that.$dialog.toast({
                            mes: '绑定成功！',
                            icon: 'success',
                            timeout: 1500
                        });
                    }
                }).catch(function (err) {
                    that.$dialog.loading.close();
                    console.log(err);
                })
            },
//          通用报错提示
            msgPrompt:function (res) {
                if(res.return_code == 0){
                    this.$dialog.toast({
                        mes: res.return_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }else if(res.result_code == 0){
                    this.$dialog.toast({
                        mes: res.result_msg,
                        timeout: 1500,
                        icon: 'error'
                    });
                }
            }
        }
    });
    //存储session
    function setStorage(key,value) {
        if(window.localStorage){
            value = JSON.stringify(value); //转化为JSON字符串
            var storage=window.localStorage;
            storage.setItem(key,value);
        }
    }
    //删除session
    function removeStorage(key) {
        if(window.localStorage){
            var storage=window.localStorage;
            storage.removeItem(key);
        }
    }
    //获取session
    function getStorage(key) {
        if(window.localStorage){
            value = JSON.parse(localStorage.getItem(key));
            return value;
        }
    }
</script>
</body>
</html>