[v-cloak] {
	display: none;
}
/*style*/
/*XinChen--PC 2017-9-2*/
* {margin:0;padding:0;word-break:break-all;}
html,body{height:100%; font-size:100%;}
body{font:14px/1.5em "Arial","Microsoft YaHei",Verdana,Helvetica,sans-serif;text-align:left;background:#fff;color:#2d3e50;margin:0;line-height:22px; }
table{font:14px/1.5em "Arial","Microsoft YaHei",Verdana,Helvetica,sans-serif;text-align:left;margin:0;padding:0;border:0;color:#2d3e50;line-height:22px;}
body,figure,h1,h2,h3,h4,h5,h6,p,pre,blockquote,form,fieldset,legend,input,button,select,textarea {margin:0;padding:0;font-family:"Arial","Microsoft YaHei";}
address,caption,cite,code,dfn,em,var,i{font-style:normal;font-weight:normal;}
ul,ol,li,dl,dt,dd{ margin:0px; padding:0px;border:0px;list-style:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display: block;}
abbr[title],dfn[title] {border-bottom:1px dotted;cursor:help;}
pre,code,kbd,samp{font-family:monospace,sans-serif;_font-family:'Courier New',monospace,sans-serif;font-size: 1em;}
pre{white-space: pre;/*CSS2*/white-space:pre-wrap;/*CSS2.1*/white-space:pre-line;/*CSS3*/word-wrap:break-word;/*IE*/}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
audio[controls],canvas,video{display:inline-block;*display:inline;*zoom:1;}
input,textarea{outline:none;}
textarea{resize:none;overflow:auto;}
input[type="checkbox"],input[type="radio"]{vertical-align:middle;}
input[type="button"],input[type="submit"]{ cursor:pointer;}
input::-ms-clear{display:none;}
input::-ms-reveal{display:none;}
img{border:none;}
.fl{float: left;}.fr{float: right;}
/**/
a:link,a:visited{text-decoration:none;cursor:pointer;outline:none;}
a:hover,a:active {text-decoration:none;cursor:pointer;}
/* common style */
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: block;}
/*-----------------------------*/
.heightKz{overflow-y:auto;overflow-x:hidden;}
/*高度控制*/
.boxShadow{background-color: #fff;}
body{-moz-user-select: none;  -webkit-user-select: none;  -ms-user-select: none;  -khtml-user-select: none;  user-select: none;background-color: #f6f7fb;padding: 8px;}
.navbar-header{height: 2.5em;margin-top:1.5em;}
.navbar-header a img{height: 2.5em;}
.navbar-nav a{margin-top:0.3em;font-size: 1em;color: #7d8184;}
.nav a:hover {color: #666666;}
.bbs{color: #b63b4d;margin-bottom: 0.5em;}
.hidden{display: none;}
.show{display: block;}
.navLeftS{width: 200px;height:4.6em;margin-top: 0.4em;background: url("../images/navHeader.png") no-repeat left center;background-size: 100% 100%;display: flex;flex-direction: row;}
.navStyle{margin-top: 0.8em!important;padding: 2px 10px;margin-left: 2.1em; color: #7d8184;width: 160px;display: inline-block;}
.navStyle h4{font-size: 1em;line-height: 1.5em;text-indent: 12px;}
.navT{width: 80px;margin-top: 1.75em;padding-left: 0.75em;color: #7d8184;font-weight: 600;font-size: 1em}
.navbar-right{margin-right: 1em;}
.mainBody{margin: 8px 0;}
.majorMenu{width: 100px; height: inherit;background: #fff;padding-top: 2em;}
.majorMenu li:nth-child(1){margin-top: 4em;}
.majorMenu li{width: 100%;height: 3.6em;margin: 5px 0;}
.majorMenu li a{display: block;width: 100%;height: 100%;line-height: 3em; font-size: 1.1em;text-align: center;color: #333333;padding: 0;font-weight: 500;}
.majorMenu li a:hover{background-color: #DCDCDC;color: #333333;}
.majorMenu .cur a{background-color: #DCDCDC;color: #333333;border-color: #000;}
.shopCart{position: relative;width: 360px; padding: 1.5em 0.5em 0.5em 0.5em; background: #fff;overflow:hidden;margin-right: 8px;}
.shopCart ul{min-height: 5em;max-height: 30em; overflow-x: hidden;overflow-y:auto;padding: 0;}
.shopCart ul li{border: 1px solid #47aedc;height: 6.7em; margin-top: 0.5em;padding-top: 0.6em;padding-left: 0.8em;}
.shopCStyle{line-height: 1.8em;font-size: 1em;padding: 0;color: #666666;}
.shopCart ul li h4{font-weight: 600;}
/*会员信息*/
.shopCart ul{min-height: 40em;}
.shopCart ul li span{font-size: 1em;margin-top: 0.5em;text-align: center;}
.Checkout{position: absolute;left: 0;bottom: 0.2em;z-index: 3;color: #555555;}
.CheckoutBtn button{margin: 1em 0.5em;color: #fff;font-size: 1.2em;width: 40%;}
/*.CountH{background: rgba(0,0,0,0.1):DXImageTransform.Microsoft.gradient(startColorstr=#10000000,endColorstr=#10000000);border-color: #f0f0f0;}*/
.CheckoutBtn .btn-danger{background-color: #f82806;border: 1px solid #f82806;}
.CheckoutBtn .btn-success{background-color: #5CB05A;border: 1px solid #5CB05A;}
/*产品销售*/
.salesTitle{background-color: #fff;padding:0 1em;}
.salesTitle ul li{padding:0.5em 1em;cursor: pointer;float: left;color: #c3c7ce;}
.salesTitle ul .on{border-bottom: 3px solid #0289f5;color: #0289f5;}
/*.salesTitle ul .on .txt{color: #96cdf9;}*/
/*.salesTitle ul .on .iconfont{color: #96cdf9;}*/

.salesTitle ul li .txt{font-size: 1.1em;font-weight: 500;line-height: 1.5em;}
.salesTitle ul li .iconfont{font-size: 1.2em;margin-right: 0.1em;}

/*.salesTitle{padding: 0 50px;position: relative;margin-top: 5px;}*/
/*.salesTitle .swiper-container{width: 100%;height: 56px;}*/
/*.salesTitle ul li a{display: block;width: 90%;height: 40px;text-align: center;line-height: 40px;color: #fff;font-size: 1.2em;}*/
/*.salesTitle ul .on a{box-shadow:2px 4px 7px #564e4b, -2px 4px 7px #564e4b;}*/
/*.salesTitle .swiper-slide{text-align: center;font-size: 18px;margin-right: 10px!important;background: #fff;!* Center slide text vertically*!display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}*/
/*会员入会*/
.pad_0{padding: 0;}
/*标题样式*/
/*.titleSty{  color: #fafafa;  letter-spacing: 0;  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135 }*/
.titleSty{margin: 1em 2em;/* color: transparent;  -webkit-text-stroke: 1px black;  letter-spacing: 0.04em;*/  }
.MtcList{width: 100%;height: 10em;margin: 1.5em auto}
.MtcList ul .swiper-slide{text-align: center;cursor: pointer;position: relative;margin: 0 1em;font-size: 1.3em;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;flex-direction:row;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.MtcList ul li .img{width: 8em;height: 6em;}
.MtcList ul li .MtcListTxt{width: 5em;height: inherit;margin-top: 2.2em;margin-left: 0.6em;}
.MtcList ul li .memberSelected{position: absolute;right: 0;top: 0;width: 50px;height: 45px;}
.memberSelected img{width: 50px;height: 45px;}
.MtcList ul li .MtcListTxt h4{font-size: 1em;text-align: left;}
.MtcList ul li .MtcListTxt p{margin-top: 1em;font-size: 1em;font-weight: 400;}
.MtcList .swiper-wrapper{padding: 2em auto}
.McText{margin: 1em 0;line-height: 2em;}
.McTarea{margin: 1em 0;height: 4em;line-height: 2em;font-size: 1.2em;}
.cardSettings{margin-top: 2.95em;border-top: 1px solid #ddd;}
.cardSettings button{width: 48%;margin-top: 1em; }
.switchZdy{border: 1px solid #999999;border-left:none;text-align: center;color: #fff;cursor: pointer;border-top-right-radius: 4px;border-bottom-right-radius: 4px;background-color: #349ffd;background-size: 50%;position: relative;display: table-cell;}
.onSwitch{width: 50%;background-color: #fefefe;height: 100%;position: absolute;top:0;transition-property:width;transition-duration:1s; transition-timing-function:linear;}
.onSwitch1{left: 1px;}
.onSwitch2{left: 50%;}
.addonWidth{width: 8em;}
.addHeight{height: 3em;}
.addHeight div{height: inherit;line-height: 3em;}

/*快速售币弹出层*/
.FastSellSty{margin: 1em 0;height: 2.5em;line-height: 2em;font-size: 1.2em;}
.formNum{margin-top:1em;margin-bottom: 1.5em;}
.inputNtSty{padding: 0.5em 0;font-size: 1.2em;}

.formNum2 a{display: block;padding: 1em 1.5em!important;}
.formNum a{display: block;background-color: #555555;color: #fff;border-top: 1px solid #444444;border-left: 1px solid #444444;padding: 1em;text-align: center;font-size: 1.2em;}
.formNum1 div:nth-child(4n) a{border-right: 1px solid #fefefe;}
.formNum1 div:nth-child(13) a{border-bottom: 1px solid #fefefe;}
.formNum1 .btn{width: 100%;background-color: #d43f3a;color: #fefefe;font-size: 1.2em;padding: 0.95em 0;border: 1px solid #fefefe;border-radius: 0;}
.formNum2 div:nth-child(3n) a{border-right: 1px solid #444444;}
.formNum2 div:nth-last-child(2){border-bottom: 1px solid #444444;}
.formNum2 div:nth-last-child(1){border-bottom: 1px solid #444444;}
.formNum2 div:nth-last-child(3){border-bottom: 1px solid #444444;}

.payList li{margin: 0.5em 0;padding: 0.5em 0;}
.payment{margin-top: 1em;border-top: 1px solid #666666;padding-top: 1em!important;}
.payment h4{margin: 0.6em 0;text-align: center;}
.btn-danger{width: 100%}

/*卡片挂失*/
.btn-primary{width: 100%;font-size: 1em;background-color: #349ffd;border-color:#349ffd}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{background-color: #349ffd;border-color:#349ffd}
.btn-primary:hover{background-color: #349ffd;border-color:#349ffd}
.btn-primary.focus, .btn-primary:focus{background-color: #349ffd;border-color:#349ffd}

/*select属性设置*/
.selectSty{padding: 0!important;}
.selectSty select{display:block;width: 100%;height: 100%; color: #555;padding: 8px;border: none;line-height: 1.4em;}
.tableTag .selectSty select{background-color: #00F7DE;}

/*销售列表样式修改*/
.salesLi{width: 20em;height: 7em;display: inline-flex;flex-direction: row;justify-content: space-between;margin: 0.5em;padding: 0.5em 0.2em;border: 1px solid #00F7DE;}
.saleText h3{font-size: 1.2em;margin-top: 0.5em;font-weight: 600;}
.saleText a.btn{padding: 0 6px;width: 50%;margin-left: 40%;}
.saleText{display: flex;flex-direction: column-reverse;width: 10.5em;justify-content: space-between;text-align: left;margin-left: 0.5em;}
.saleDetails{width: 50%;margin-left: 40%;}
.salesLi img{width: 8em;height: 6em;}
/* .saleTitleBg li:nth-child(7n) a{background-color: #3279b4;}
.saleTitleBg li:nth-child(7n+1) a{background-color: #32c7d2;}
.saleTitleBg li:nth-child(7n+2) a{background-color: #b196fd;}
.saleTitleBg li:nth-child(7n+3) a{background-color: #659ae0;}
.saleTitleBg li:nth-child(7n+4) a{background-color: #f0c40b;}
.saleTitleBg li:nth-child(7n+5) a{background-color: #c5d2dc;}
.saleTitleBg li:nth-child(7n+6) a{background-color: #d6777a;} */
.tableTag{background-color: #00F7DE;}
.detailHide{display: none;}
/*弹出层修改*/
.modal-dialog{margin-top: 13em;}
.formNum a{display: block;background-color: #555555;color: #fff;border-top: 1px solid #fefefe;border-left: 1px solid #fefefe;padding: 1em;text-align: center;font-size: 1.2em;}
.formNum div:nth-child(4n) a{border-right: 1px solid #fefefe;}
.formNum div:nth-child(13) a{border-bottom: 1px solid #fefefe;}
.formNum .btn{width: 100%;background-color: #d43f3a;color: #fefefe;font-size: 1.2em;padding: 0.95em 0;border: 1px solid #fefefe;border-radius: 0;}
.shopTable{height: 20em;overflow-y: auto;overflow-x: hidden;margin-top: 1em;}
.shopCart{padding-top: 1.5em;position: relative;min-height: 48em;}
/*谷歌滚动条样式修改*/
.scrollbar{  width: 5px;  height: 100px;  margin: 0 auto;  }
::-webkit-scrollbar {/*滚动条整体样式*/  width: 5px;  /*高宽分别对应横竖滚动条的尺寸*/  height: 1px;}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/ border-radius: 10px; -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2); background: #535353;}
::-webkit-scrollbar-track {/*滚动条里面轨道*/-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);border-radius: 10px;background: #EDEDED;}
/*会员入会等级列表*/
.enrollment{padding: 2em;}
.memberText{ display: flex;flex-direction: row;justify-content: space-between;line-height: 40px;font-size: 0.7em;width: 12em;margin: 0.2em auto; }
.memberText h4{line-height: 40px;font-size: 0.8em;}
.readCard{background-color: #b196fd;color: #fefefe;}
input.btnSendCode{line-height: 0;}
.footer { position:fixed; bottom:0; left:0; width:100%; height:50px;z-index: 9;padding-left: 2em;border-top: 1px solid #999;background-color: #f9f9f9;line-height: 50px;cursor: pointer;}
.footerList{font-size: 1.1em;line-height: 1em;}
.footerList h3{font-size: 1.3em;margin-top:0.8em;line-height:2em;border-bottom: 1px solid #dca7a7;font-weight: 600;}
.footerList li{padding: 0.5em 0;padding-left: 3em;border-bottom: 1px dashed #00F7DE;}
.member{color: #666;}
.member li{font-size: 1.3em;display: inline;margin-right: 10px;line-height:50px;font-weight: 700;}
.saleContent{display: flex;flex-direction: row;padding:2em;}
/*商品二级套餐*/
.treeBox{margin:0.5em 0;background-color:#fbfbfb;min-width: 200px;display: inline-block;height: inherit;max-height: 40em;overflow-y: auto;}
.treeList{width:200px;}
.treeList li{margin:5px 0 0 0;}
.treeList a{background-color: #FFFFFF; color: #174867; padding: 7px 15px 7px 15px; width: 150px; display: block; text-decoration: none; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -webkit-box-shadow: 2px 2px 4px #EDEDED; -moz-box-shadow: 2px 2px 4px #888; -o-box-shadow: 2px 2px 4px #888; border-left: 0px solid #CCCCCC; border-right: 1px solid #E3E3E3; border-bottom: 1px solid #E3E3E3; border-top: 1px solid #E3E3E3; box-shadow: 2px 2px 4px #EDEDED; }
.treeList a:hover{color:#67a5cd;padding:7px 15px 7px 30px;width: 180px;background-color: #e0e0e0;}

/*会员操作*/
.Operation{padding: 1em;}
.tab-min{margin-top: 1em;padding: 0;}
.tab-text{margin: 0.8em 0;}
.width100{width: 100%;background-color: #349ffd;}
.tab-style{margin-top: 1.2em;line-height: 2em;font-size: 1.2em;}

.mcImg img{width: 10em;height: 13em;margin-top: 1em;}
.inquire{text-align: right;margin-right: 2em;margin-bottom: 1em;margin-top: 1em;}
.tab-btn{text-align: right;padding-right: 2em;margin-bottom: 1em;}
.tab-btn .btn{width: 10em;}
.modal-h4{line-height: 2em;border-bottom: 1px solid sandybrown;}
.modal-p{padding-left: 2em;color: #FF0000;line-height: 2em;}
.modal-btn{display: flex; flex-direction: row;justify-content: space-between;margin-top: 1em;padding: 0 2em;}
/*.card-Img{background: url("images/member.png") no-repeat left center;width: 250px;height: 130px;background-size: 100% 100%;border-radius: 10px;margin-top:2em;position: relative;}*/
/*.card-text1{position: absolute;right: 10px;bottom: 10px;font-size: 0.82em;color: gold;}*/
/*.card-text2{position: absolute;left: 30px;bottom: 3px;font-size: 0.7em;color: #000;}*/
/*.card-text4{position: absolute;right: 10px;bottom: 30px;font-size: 0.7em;color: #666;}*/
/*.card-text3{position: absolute;right: 10px;bottom: 50px;font-size: 0.7em;color: salmon;}*/
.btn-margin{margin-top: 3em;}
.givingList{height: 8em;padding: 15px;}
.givingLiSty{display: flex;flex-direction: row;justify-content: center;}
.givingCheckbox input{margin-right: 10px;width: 1.3em;height: 1.3em;margin-top: 2.5em;}
.givingTitle{display: inline-flex;flex-direction: column;justify-content: space-between;}
.tdInput{padding: 0!important;width: 100px;}
.tdInput input{border: none;}
.BackTotal{text-align: right;margin: 1em 0;}
.order-list{width: 2em;}
.order-list img{width: 2em;height: 2em;}
.order-list p{width: 1em;height: 2.5em;margin-left: 0.5em;color: #349ffd;margin-top: 0.2em;font-size: 1em;}
.order-width1{width: 2em;transition: all 0.5s ease-out;padding: 0;margin-left: 0.5em; cursor: pointer;}
.order-width2{width: 100%;transition: all 0.5s ease-out;}
.orderList-text{padding: 0.5em 1em;}
.orderList-text h4{font-size: 1.2em;color: #349ffd;line-height: 2em;}
.orderList-text div{font-size: 1em;color: #666666;line-height: 2em;border-bottom: 1px dashed #666666;margin-bottom: 0.5em;}
.screeningTitle{display: flex;flex-direction: row;width: 70%;}
.screeningTitle select,.screeningTitle input{margin: 0.8em 1em;height: 2.5em;line-height: 1.4em;}
.screeningTitle button{margin: 0.8em 1em;height: 2.5em;min-width: 8em;line-height: 1.8em;width: 8em;}
.input-group[class*=col-]{float: left;padding-left: 15px;padding-right: 15px;}

.cardList{padding-left: 30px;padding-right: 30px;}
.cardList input{width: 1.5em;height: 1.5em;margin: 1.5em 1em;}
.cardList h4{font-size: 1.3em;line-height: 2em;color: #333333;font-weight: 600;text-align: center;border-bottom: 1px dashed #00F7DE;}
.cardList p{font-size: 1.1em;line-height: 2em;color: #666;text-align: center;}
/*.input-group-addon{font-size: 1.1em;}*/

.dropup{display: flex;margin-top: 8px;}
.membershipDetails{height: 20em;overflow-y: auto;}
.dropChoosesty li{padding: 0 15px;font-size: 1.3em;line-height: 2.5em;}
.dropChoosesty li span{font-size: 1.6em;margin-right: 8px;position: relative;top: 4px;}
.dropChoosesty li:nth-child(1) span{color: #349ffd;}
.dropChoosesty li:nth-child(2) span{color: #00ffff;}
.dropChoosesty li:nth-child(3) span{color: #5b6270;}
.modal-bodySty{padding-bottom:2em;}
.saveTheData{margin-top:5em;margin-left:1.6em;}
.cardListSty{margin: 0.5em 0;border-bottom: 1px dashed #00ffff;background-color: #fffefe;}
.cardLockList{margin: 0.5em 0;background-color: #fffefe;}
.cardLockUp{color:#349ffd;font-size:0.8em;}
.colorRed{color:#e96e72;padding:3px 20px;display:inline-block;}
.cardListSpan{display:inline-block;width: 8em;text-align: left;padding: 4px 10px;font-size: 1em;color: #333}
.cardListTxt{padding: 4px 10px;font-size: 1em;color: #333}
.cardListImg{margin-top: 2em;width: 3em;height: 3em;}
.viceSty{display:inline-block;width: 5em;text-align: left;padding: 4px 10px;font-size: 0.9em;color: #333}
.outCoinReadCard{background-color: #F5DEB3;cursor: pointer;}
@media (min-width: 1024px) and (max-width: 1400px) {
	.navLeftS{display: none;}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.marg1200{margin-top: 1em;}
	.shopCart{width: 280px;}
	.tab-text{margin: 0.5em 0;}
	.mcImg img{width: 8em;height: 9em;margin-top: 1em;}
}
@media (min-width: 1024px) and (max-width: 1280px) {
}